.add-teacher{
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    background: #632765;
    height: 35px !important;
    line-height: normal;
    border: none;
    padding: 0 35px;
  }
  .add-teacher:disabled {
    color: #fff;
    top: 7px;
    padding: 0 15px 0 33px;
    border-radius: 4px;
    font-size: 14px;
    background: #996a9a;
    height: 34px;
    line-height: normal;
    border: none;
  }
 
  
  
 
  
  

  
  
  
  .required-asterisk {
    color: red;
    font-weight: bold;
    margin-left: 3px;
    font-size: 1.2em;
  }
  
  
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    text-align: left;
    padding: 6px 3px ! important;
  }
  
  h2.px-2.mt-2.text-green {
    text-align: left;
  }
  
  tr:nth-child(even) {
    background: #fafafa;
  }
  
  tr {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
  }
  
  
  
  .button-save { 
    position: relative; 
  } 
  
  .button-save i{ 
    position: absolute; 
    left: 15px; 
    top: 11px ; 
    color: white; 
  }
  .alpha-li li {
    margin-top: 15px;

  }
  .dcForm-min-height{
    min-height: 1080px;
  }
  .chk-box-font {
    background-color:#fafafa;
  }
  .chk-box-font label{
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
    padding-top: 2px;
  }
  .chk-box-font input{
    width: 18px;
    height: 18px;
  }
  .px-padding{
    padding-left: 0px !important;
  }
  
  