<div class="row">
    <div class="col-md-12">
        <div class="shadow-sm bg-white ">
            <div class="p-3">
                <div class="card px-0 pb-0 ">
                    <form id="msform">
                        <ul id="progressbar" class="m-0 p-0">
                            <li [ngClass]="{'active' : profilePage}"  id="profile">
                                <strong>Profile</strong>
                            </li>
                            <li [ngClass]="{'active' : experiencePage}"  id="experience">
                                <strong>Experience</strong>
                            </li>
                            <li [ngClass]="{'active' : leaveManagmentPage}"  id="leaveManagment">
                                <strong>Leave Details</strong>
                            </li>
                            <li [ngClass]="{'active' : uploadPage}"   id="upload" >
                                <strong>Preview & Confirm</strong>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>