<div class="dashboard-main-content" style="min-height: 600px;">
    <app-transfer-progresion-bar></app-transfer-progresion-bar>
    <div class="dashboard-main-content-info p-4 mt-4 ">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex bd-highlight">
                    <div class="flex-grow-1 bd-highlight">
                        <h2 class="mb-0 tbl-heading">Preview & Confirm</h2>
                    </div>
                    <div class="pe-3">
                        <h2 class="steps text-end pro-name">{{ profileTeacherName | uppercase}} </h2>
                    </div>
                    <!-- <div><button class="btn btn-primary btn-sm" (click)="teacherPdf()">Export to PDF</button></div> -->
                </div>
                <table class="table table-bordered w-100">
                    <thead>
                        <tr style="background-color:#7492cb;">
                            <th colspan="6" class="text-center text-white">Profile Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>KV/RO/ZIET/HQ Name</th>
                            <td>{{schoolDetails?.kvName}} ({{schoolDetails?.kvCode}})</td>
                            <th>Employee Code</th>
                            <td>{{verifyTchTeacherProfileData?.teacherEmployeeCode}}</td>
                            <th>Staff Type</th>
                            <td>{{verifyTchTeacherProfileData?.teachingNonteaching | staffType}}
                            </td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{verifyTchTeacherProfileData?.teacherName | titlecase}}
                            </td>
                            <th>Gender</th>
                            <td>{{verifyTchTeacherProfileData?.teacherGender | genderPipe}}
                            </td>
                            <th>Date of Birth</th>
                            <td>{{verifyTchTeacherProfileData?.teacherDob }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{verifyTchTeacherProfileData?.teacherEmail}}</td>
                            <th>Mobile Number</th>
                            <td>{{verifyTchTeacherProfileData?.teacherMobile}}</td>
                            <th>Disability</th>
                            <td>{{verifyTchTeacherProfileData?.teacherDisabilityYn == '1' ? 'Yes':'No'}}
                            </td>
                        </tr>
                        <tr>
                            <th>Present Station Name</th>
                            <td>{{schoolDetails?.stationName}} ({{schoolDetails?.stationCode}})</td>
                            <th>Present post name</th>
                            <td>{{verifyTchTeacherProfileData?.lastPromotionPositionType}}
                            </td>
                            <th>Subject Name</th>
                            <td>{{verifyTchTeacherProfileData?.workExperienceAppointedForSubject}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered w-100">
                    <thead>
                        <tr style="background-color:#7492cb;">
                            <th colspan="7" class="text-center text-white">Experience</th>
                        </tr>
                        <tr style="background-color:#E5EEFF;">
                            <th>School Name</th>
                            <th width="8%">From</th>
                            <th width="8%">To</th>
                            <th width="16%">Position Held</th>
                            <th width="13%">Appointed for Subject</th>
                            <th width="15%">Transfer Ground</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of verifyTchTeacherWorkExp">
                            <td>{{data?.udiseSchoolName}}</td>
                            <td>{{data?.workStartDate}}</td>
                            <td>{{data?.workEndDate}}</td>
                            <td>{{data?.positionType}}</td>
                            <td>{{data?.appointedForSubject}}</td>
                            <td>{{data?.groundForTransfer == 'null' ? '':data?.groundForTransfer}}</td>
                        </tr>
                    </tbody>
                </table>
                <form [formGroup]="teacherPreviewConfirmForm" (ngSubmit)="submit()" >     
                    <div class="form-card">
                        <div class="row">
                            <div class="col-7">
                                <h2 class="mb-0 font8958"> Undertaking: </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="text-align: left;">
                    
                                <div class="mt-3 bg-yellow ">
                                    <span class="fw-bold text-danger">
                                        Kindly check your profile for any discrepancies. If there are any discrepancies, the School may correct the data upon the Employee's request. After confirmation to proceed further, the data can't be changed or modified.
                                    </span>
                                </div>
    
                                <div class="my-3 d-flex" *ngIf="profileFinalStatus" >
                                    <input class="form-check-input" style="font-size: large !important" type="checkbox" id="consentCheck"  [checked]="profileFinalStatus" disabled
                                    (change)="consentCheckBoxChange($event)" formControlName="consentCheckBox"  >&nbsp;&nbsp;
                                <label class="form-check-label fw-bold chekboxPosition" for="consentCheck">
                                    I hereby undertake that my profile details are complete and true to the best of my knowledge and available information. Now, I would like to proceed to provide additional information required for the transfer application and submit my STATION CHOICE(s) for transfer and displacement.
                                </label>
                                </div>


                                <div class="my-3 d-flex" *ngIf="!profileFinalStatus" >
                                    <input class="form-check-input" type="checkbox" style="font-size: large !important"  id="consentCheck" 
                                        (change)="consentCheckBoxChange($event)" formControlName="consentCheckBox"  >&nbsp;&nbsp;
                                    <label class="form-check-label fw-bold chekboxPosition" for="consentCheck">
                                        I hereby undertake that my profile details are complete and true to the best of my knowledge and available information. Now, I would like to proceed to provide additional information required for the transfer application and submit my STATION CHOICE(s) for transfer and displacement.
                                    </label>
                                </div>
                                <div class="fw-bold text-danger"  [ngClass]="blinkClass ? 'blink_text' : ''">*Profile verification by the controlling officer is mandatory to proceed further with the transfer application. Only after verification, you will be able to fill preferred choices
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 button-save float-end " *ngIf="!profileFinalStatus" >
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>  <input [disabled]="!teacherPreviewConfirmForm.get('consentCheckBox').valid " type="submit" name="Next"  class="me-2 add-teacher" value="Confirm" /> 
                       </div>
                       <div class="mt-4 button-save float-end " *ngIf="profileFinalStatus" >
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>  <input  type="submit" name="Next"  class="me-2 add-teacher" (click)="next()" value="Next" /> 
                       </div>
                    </form>
            </div>
        </div>
    </div>
</div>
