<div class="login-wrap">
    <div class="container-fluid">
        <div class="row">
        <div class="col-xl-5 col-lg-5 col-sm-6 p-0 login-bg">
            <div class="login-head pt-4">
                <a href="#"><img src="assets/images/emblem-school-white.svg" alt="" class="logo-left"></a>
            </div>
            <div class="login-content" >
                <h2>Login To</h2>
                <h1>KVS TEACHER<br>PLATFORM</h1>
                <h3>Kendriya Vidyalaya Sangthan</h3>
            </div>
          <img src="assets/images/teacher.svg" alt=""  class="login-img">
        </div>
        <div class="col-xl-7 col-lg-7 col-sm-6 p-0 login-right">
            <div class="login-head pt-4 text-end">
                <a href="#"><img src="assets/images/kvs-logo.png" class="logo-right"></a>
            </div>
            <div class="login-form">
                <div class="login-cnt">`
                    <h2 class="sec-title">Login Here</h2>
                    <div class="button-group d-flex justify-content-center mb-5">
                        <button class="btn me-3 password active"><img src="assets/images/password.svg" class="me-2">Password</button>
                        <button class="btn mobile "><img src="assets/images/mobile.svg" class="me-2">Mobile OTP</button>
                    </div>
                    <form id="msform" [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
   <!-----------------------Password Form---------------------------------------------->                   
                     <div class="login-with-pass ">
                        <div class="fieldSet " formGroupName="passwordForm">
                        <div class="mb-4 position-relative">
                        
                          <i class="fa fa-user-o fa-color" aria-hidden="true"></i>
                          <input type="text" class="form-control mb-2" autocomplete="new-password" formControlName="username" [ngClass]="{ 'is-invalid': submitted && !loginForm.get('passwordForm.username').valid }" placeholder="username">
                          <span class="help-block text-danger" *ngIf="!loginForm.get('passwordForm.username').valid && submitted ">
                            Enter a valid  User name!</span>                     
                        </div>                       
                        <div class="mb-4 position-relative">
                          <i class="fa fa-unlock-alt fa-color" aria-hidden="true"></i>
                          <input type="password" class="form-control" autocomplete="new-password" formControlName="password" onpaste="return false" [ngClass]="{ 'is-invalid': submitted && !loginForm.get('passwordForm.password').valid }" placeholder="Password">
                          <span class="help-block text-danger" *ngIf="!loginForm.get('passwordForm.password').valid && submitted">
                            Enter a valid   password!</span>                   
                        </div>
                        <div class="mb-4 d-flex position-relative">
                         <input type="text" class="form-control ps-0 w-70" autocomplete="new-password" onpaste="return false" formControlName="passwordCaptcha" [ngClass]="{ 'is-invalid': submitted && !loginForm.get('passwordForm.passwordCaptcha').valid }"  placeholder="Captcha">
                         <div id="captchaBackground">
                          <canvas id="captcha"></canvas>
                          <span id="output"></span>
                      </div>
                         <div class="captcha" (click)="generate()" style="align-items: center;display: flex;"> 
                          <svg xmlns="http://www.w3.org/2000/svg" width="46" height="36" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                          </svg>
                         </div> 
                        </div>
                        <span class="help-block text-danger" *ngIf="!loginForm.get('passwordForm.passwordCaptcha').valid && submitted">
                          Incorrect Captcha !</span>
                        <button type="submit" id="submitPasswordForm" class="btn btn-secondary btn-lg btn-block mt-2">Login</button>
                 </div>
                    </div>
    <!-----------------------otp Form---------------------------------------------->  
                    <div class="login-with-otp d-none">
                      <div class="fieldSet" formGroupName="otpForm">
                          <div class="mb-1 position-relative">
                          
                            <i class="fa fa-mobile fa-color" aria-hidden="true"></i>
                            <input type="number" class="form-control mb-2" autocomplete="new-password" onKeyPress="if(this.value.length==10) return false;" formControlName="mobileNo" [ngClass]="{ 'is-invalid': submittedOtp && !loginForm.get('otpForm.mobileNo').valid }" placeholder="Mobile Number">
                            <span class="help-block text-danger" *ngIf="!loginForm.get('otpForm.mobileNo').valid && submittedOtp">
                              Enter a valid  Mobile Number!</span>  
                          </div>

                          <div class="mb-3 d-flex position-relative">
                            <button type="button" [disabled]="isDisabled" (click)="otpSend()" class="btn btn-success " style="padding: 3px 10px 3px 8px;">Get Otp</button>
                          <div class="timer" *ngIf="showTimer"> Resend OTP in <b>{{timeLeft}}</b></div> 
                          </div>
                           
                          <div class="mb-4 position-relative">
                            <i class="fa fa-unlock-alt fa-color" aria-hidden="true"></i>
                            <input type="number"  class="form-control" autocomplete="new-password" formControlName="OTP" [ngClass]="{ 'is-invalid': submittedOtp && !loginForm.get('otpForm.OTP').valid }" placeholder="Otp">
                            <span class="help-block text-danger" *ngIf="!loginForm.get('otpForm.OTP').valid && submittedOtp">
                              Enter a valid  otp!</span>  
                          </div>

                           <div class="mb-4 d-flex position-relative">
                           <input type="text" class="form-control ps-0 w-70" autocomplete="new-password" onpaste="return false" formControlName="otpCaptcha"  [ngClass]="{ 'is-invalid': submittedOtp && !loginForm.get('otpForm.otpCaptcha').valid }"  placeholder="Captcha">
                           <div id="captchaBackground">
                            <canvas id="otpcaptcha"></canvas>
                            <span id="outputotp"></span>
                           </div>
                           <div class="captcha" (click)="generate()" style="align-items: center;display: flex;"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="46" height="36" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                              <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                              <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                            </svg>
                           </div> 
                          </div>
                          <span class="help-block text-danger" *ngIf="!loginForm.get('otpForm.otpCaptcha').valid && submittedOtp">
                            Incorrect Captcha !</span>
                          <button type="submit" id="submitOtpForm" class="btn btn-secondary btn-lg btn-block mt-2">Login</button>
                        </div>
                    </div>
                  </form>
                      <p class="text-center mt-3">   <a class="nav-link navStyle" routerLink="/forgetPassword">Forgot Password</a></p>
                    
                </div>               
            </div>
        </div>
    </div>
    </div>
   </div>

