<div class="dashboard-main-content" style="min-height: 600px;">
    <div class="dashboard-main-content__header">
      <h1>Transfer Management</h1>
    </div>
   
      <nav aria-label="breadcrumb" class="mt-1">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Transfer Management</a></li>
        </ol>
      </nav>
      <div class="dashboard-main-content-info p-5 ">
        <ul class="list-group list-info">
            <li class="list-group-item" >Profile Verification          
                <span class="text-success me-2"  *ngIf="FormStatus1==true">   Complete <i class="bi bi-check2-square ms-1"></i></span>  
                <span class="text-danger me-2"  *ngIf="FormStatus1!=true">   InComplete <i class="bi bi-x-square ms-1"></i></span>  
            </li>
            <li class="list-group-item" >Miscellaneous            
                <span class="text-success me-2"  *ngIf="FormStatus2==true">   Complete <i class="bi bi-check2-square ms-1"></i></span>  
                <span class="text-danger me-2"  *ngIf="FormStatus2!=true">   InComplete <i class="bi bi-x-square ms-1"></i></span>  
            </li>
            <li class="list-group-item" >Station Choice            
                <span class="text-success me-2"  *ngIf="FormStatus3==true">   Complete <i class="bi bi-check2-square ms-1"></i></span>  
                <span class="text-danger me-2"  *ngIf="FormStatus3!=true">   InComplete <i class="bi bi-x-square ms-1"></i></span>  
            </li>
            <li class="list-group-item" >Preview And Undertaking           
                <span class="text-success me-2"  *ngIf="FormStatus4==true">   Complete <i class="bi bi-check2-square ms-1"></i></span>  
                <span class="text-danger me-2"  *ngIf="FormStatus4!=true">   InComplete <i class="bi bi-x-square ms-1"></i></span>  
            </li>
          </ul>
     
          <div class="mt-4 button-save  " style="text-align: center; " >
             <input   type="submit" name="Next"  class="me-2 add-teacher" (click)="processTransfer()"value="Click here to complete transfer process" /> 
           </div>                     
      </div><!--close main-content-info-->
  </div><!--close dashboard-main-content-->