.add-teacher{
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    background: #632765;
    height: 35px !important;
    line-height: normal;
    border: none;
    padding: 0 35px;
  }
  .add-teacher:disabled {
    color: #fff;
    top: 7px;
    padding: 0 15px 0 33px;
    border-radius: 4px;
    font-size: 14px;
    background: #996a9a;
    height: 34px;
    line-height: normal;
    border: none;
  }

  .list-info{border-radius: 0;}
  .list-info li{ margin-bottom: 15px; color: #000; background-color: #f3f4f6;
     border:solid 1px #cdd9e9 !important;
     box-shadow: 0 3px 6px #272d3b1c;
     height: 50px;
     padding: 13px;
font-size: 16px; font-weight: 600; justify-content: space-between; display: flex;}