<div class="dashboard-main-content" style="min-height: 600px;">
    <app-progresion-bar></app-progresion-bar>
    <div class="dashboard-main-content-info  p-4 mt-3">   
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-4">
                        <h2 class="mb-0">Basic Profile:</h2>
                    </div>
                    <div class="col-8">
                        <h2 class="steps text-end pro-name">{{ profileTeacherName | uppercase}}
                        </h2>
                    </div>
                </div>
                    <form [formGroup]="basicProfileForm" (ngSubmit)="submit()">
                        <div class="form-card">
                           
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="shadow p-3  min-height-523 " >
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet"> Employee Code<span class="required-asterisk">*</span></h4>
                                                <input type="text" class="form-control" name="empCode" formControlName="empCode" maxlength="10" disabled>
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('empCode').valid && basicProfileForm.get('empCode').touched">
                                                    Enter a valid employee code!</span>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">Full Name<span class="required-asterisk">*</span>
                                                </h4>
                                                <input type="text" class="form-control" (keyup)="onKeyUp($event)" name="fullName" formControlName="fullName" style="text-transform:uppercase" maxlength="50" disabled >
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('fullName').valid && basicProfileForm.get('fullName').touched">
                                                    Enter your valid name!</span>
                                            </div>
    
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">Gender<span class="required-asterisk">*</span></h4>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" id="gender" value="1"  name="gender" formControlName="gender" disabled>
                                                    <label class="form-check-label font16 ff">Male</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" id="gender" value="2" name="gender" formControlName="gender" disabled>
                                                    <label class="form-check-label font16 ff">Female</label>
                                                </div>
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('gender').valid && basicProfileForm.get('gender').touched ">
                                                    Enter your gender!</span>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">Date of birth<span class="required-asterisk">*</span></h4>
                                                        <div class="input-group-addon">
                                                            <mat-datepicker #pickers></mat-datepicker>
                                                        </div>
                                                        <input class="form-control"  id="wordStartDate" [max]="maxDate" placeholder="DD/MM/YYYY"  [matDatepicker]="pickers"   (click)="pickers.open()"
                                                        formControlName="dob" disabled >
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('dob').valid && basicProfileForm.get('dob').touched ">
                                                    <span class="help-block text-danger"
                                                        *ngIf="basicProfileForm.get('dob').errors['invalidDate'] ">
                                                        Age less than 18 years!
                                                    </span>
                                                <span class="help-block text-danger" *ngIf="basicProfileForm.get('dob').errors['required'] ">
                                                        Enter date of birth!
                                                    </span>
                                                </span>
                                            </div>
                                       
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">Mobile<span class="required-asterisk">*</span></h4>
                                                <input type="text" class="form-control" name="mobile" (blur)="checkMobileNumber($event)" formControlName="mobile" maxlength="10" minlength="10" disabled>
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('mobile').valid 
                                                && basicProfileForm.get('mobile').touched
                                                ">Enter valid mobile number of 10 digit !</span>
                                            </div>
    
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">Email <span class="required-asterisk">*</span></h4>
                                                <input type="email" class="form-control" name="email" formControlName="email"  style="text-transform: none" disabled>
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('email').valid && basicProfileForm.get('email').touched ">
                                                    Enter your email id!</span>
                                            </div>
                                            <div class="col-md-12">
                                               <hr>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">
                                                    Correspondence Address <span class="required-asterisk">*</span></h4>
                                                <textarea class="form-control" rows="1" name="crspndncAddress" formControlName="crspndncAddress" style="text-transform:uppercase"  (change)="addOrPinChange('A')" disabled></textarea>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">State <span class="required-asterisk">*</span></h4>
                                                <select class="form-select" aria-label="Default select example" name="crspndncState" formControlName="crspndncState"  (change)="getDistrictListByStateId($event, 'C')" disabled>
                                                    <option selected disabled>Select State
                                                    </option>
                                                    <option *ngFor="let data of stateMasterList"
                                                        value="{{data.state_id}}">{{data.state_name | uppercase}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">District <span class="required-asterisk">*</span></h4>
                                                <select class="form-select" aria-label="Default select example" name="crspndncDistrict" formControlName="crspndncDistrict"  (change)="cDistrictChange($event.target.value)" disabled>
                                                    <option selected disabled>Select District
                                                    </option>
                                                    <option *ngFor="let data of districListByStateIdC"
                                                        value="{{data.district_id}}">
                                                        {{data.district_name | uppercase}}
                                                    </option>
                                                </select>                                              
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">Pin Code <span class="required-asterisk">*</span></h4>
                                                <input class="form-control" name="crspndncPinCode" minlength="6" type="text" formControlName="crspndncPinCode" maxlength="6"  (change)="addOrPinChange('p')" disabled>
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('crspndncPinCode').valid ">
                                                    Enter a valid pincode!</span>                                          
                                            </div>
                                            <div class="col-md-12">
                                                <hr>
                                             </div>
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">
                                                    Home Town Address as per Service Record <span class="required-asterisk">*</span>
                                                </h4>
                                                <textarea class="form-control" rows="1" name="prmntAddress" style="text-transform:uppercase" formControlName="prmntAddress" disabled></textarea>                                          
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">State <span class="required-asterisk">*</span></h4>
                                                <select class="form-select" aria-label="Default select example" name="prmntState" formControlName="prmntState"  (change)="getDistrictListByStateId($event, 'P')" disabled>
                                                    <option selected disabled>Select
                                                    </option>
                                                    <option *ngFor="let data of stateMasterList"
                                                        value="{{data.state_id}}">{{data.state_name | uppercase}}
                                                    </option>                                            
                                                </select>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">District <span class="required-asterisk">*</span></h4>
                                                <select class="form-select" aria-label="Default select example" name="prmntDistrict" formControlName="prmntDistrict"  (blur)="pDistrictChange($event.target.value)" disabled>
                                                    <option selected disabled>Select</option>
                                                    <option *ngFor="let data of districListByStateIdP"
                                                        value="{{data.district_id}}">
                                                        {{data.district_name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">Pin Code <span class="required-asterisk">*</span></h4>
                                                <input type="text" class="form-control" maxlength="6" minlength="6" name="prmntPinCode" formControlName="prmntPinCode" disabled >
                                       
                                                <span class="help-block text-danger" *ngIf="basicProfileForm.get('prmntPinCode').status != 'VALID' && basicProfileForm.get('prmntPinCode').status != 'DISABLED'">
                                                    Enter a valid pincode!</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="shadow p-3  min-height-620">
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet"> Present KV/RO/ZIET/HQ Name(Code)</h4>
                                                <input type="text" class="form-control " name="presentKvName" formControlName="presentKvName" value="kvCode" [(ngModel)]="kvNameCode" disabled>
                                            </div>
    
                                            <div class="col-md-6 mb-3">
                                           <h4 class="titleSet">Present Post Name(Code)<span class="required-asterisk">*</span></h4>
                                           <select class="form-select" aria-label="Default select example" name="presentPostName" formControlName="presentPostName" (change)="teacherTypeSelect($event)" disabled>
                                               <option selected disabled>Select</option>
                                               <option
                                                   *ngFor="let data of teacherTypeDataNameCode;"
                                                   value="{{data.teacherTypeId}}">{{data.nameCode}}
                                               </option>
                                           </select>
                                           <span class="help-block text-danger" *ngIf="!basicProfileForm.get('presentPostName').valid && 
                                           basicProfileForm.get('presentPostName').touched">
                                               Enter Present Post Name(Code)!</span>
                                            </div>
    
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet"> Present Station Name(Code)</h4>
                                                <input type="text" class="form-control " name="presentStationName" formControlName="presentStationName" value="stationCode" [(ngModel)]="stationNameCode" disabled>
                                            </div>
    
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet"> Subject Name(Code)<span class="required-asterisk">*</span></h4>
                                                <select class="form-select" aria-label="Default select example" name="presentSubjectName" formControlName="presentSubjectName" disabled >
                                                    <option selected disabled>Select</option>
                                                    <option
                                                        *ngFor="let data of subjectListNameCode;"
                                                        value="{{data.subjectCode}}">{{data.subNameCode}}
                                                    </option>
                                                </select>
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('presentSubjectName').valid && 
                                                basicProfileForm.get('presentSubjectName').touched">
                                                    Enter Subject Name(Code)!</span>
                                            </div>   
    
    
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">Last promotion position date<span class="required-asterisk">*</span></h4>
                                                        <div class="input-group-addon">
                                                            <mat-datepicker #pickers12></mat-datepicker>
                                                        </div>
                                                        <input class="form-control"  id="wordStartDate" [max]="maxDate" placeholder="DD/MM/YYYY"  [matDatepicker]="pickers12"   (click)="pickers12.open()"
                                                        formControlName="lastPromotionPositionDate" disabled >
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('lastPromotionPositionDate').valid && basicProfileForm.get('lastPromotionPositionDate').touched ">
                                                <span class="help-block text-danger" *ngIf="basicProfileForm.get('lastPromotionPositionDate').errors['required'] ">
                                                        Enter last promotion position date!
                                                    </span>
                                                </span>
                                            </div>
    
                                            <div class="col-md-6 mb-3">                                        
                                                <h4 class="titleSet">Have you been recruited under special recruitment for NER ?</h4>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" value="13" id="singleparentyes" name="specialRecruitmentYn" type="radio" formControlName="specialRecruitmentYn" disabled >
                                                    <label class="form-check-label font16 ff" for="inlineRadio1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" value="14" id="singleparentno" name="specialRecruitmentYn" type="radio" formControlName="specialRecruitmentYn" disabled >
                                                    <label class="form-check-label font16 ff" for="inlineRadio2">No</label>
                                                </div>                                                                                  
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('specialRecruitmentYn').valid  && basicProfileForm.get('specialRecruitmentYn').touched">
                                                        Select whichever applicable!</span>
                                            </div>
    
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">Staff Type<span class="required-asterisk">*</span></h4>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" id="inlineRadio1" value="1" disabled  name="staffType" formControlName="staffType" >
                                                    <label class="form-check-label font16 ff" for="inlineRadio1">Teaching</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" id="inlineRadio2" value="2" disabled  name="staffType" formControlName="staffType">
                                                    <label class="form-check-label font16 ff" for="inlineRadio2">Non-Teaching</label>
                                                </div>                                          
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('staffType').valid && 
                                                basicProfileForm.get('staffType').touched">
                                                    Select Staff Type!</span>
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4 class="titleSet">Do you have any kind of disability,if any ?</h4>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" value="1" name="disabilityYN" type="radio" formControlName="disabilityYN" (click)="clickOnDisability('yes')" disabled>
                                                    <label class="form-check-label font16 ff" for="inlineRadio1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" value="0" name="disabilityYN" type="radio" formControlName="disabilityYN"  (click)="clickOnDisability('no')" disabled>
                                                    <label class="form-check-label font16 ff" for="inlineRadio2">No</label>
                                                </div>
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('disabilityYN').valid ">
                                                    required!</span>
                                            </div>
    
                                            <div class="col-md-6" *ngIf="isVisible">
                                                <div class="showDiv">
                                                    <h4 class="titleSet">
                                                        Type of Disability : <span class="required-asterisk">*</span>
                                                    </h4>
                                                    <select class="form-select" aria-label="Default select example" name="disabilityType" formControlName="disabilityType">
                                                     
                                                        <option selected disabled>Select</option>
                                                        <option *ngFor="let data of formDataList.disability"
                                                            value="{{data.disabilityId}}">
                                                            {{data.disabilityType}}</option>
                                                    </select>
                                                    <span class="help-block text-danger" *ngIf="!basicProfileForm.get('disabilityType').valid ">
                                                        Select type of disability!</span>
                                                </div>
                                            </div>             
                                        </div>   
                                                                          
                                        <div class="row">
                                            <div class="col-md-6 " *ngIf="isVisible">
                                                <h4 class="titleSet">Upload PwD Certificate In Pdf (Max 500 KB)<span
                                                        class="required-asterisk">*</span></h4>
                                                <div class="input-group">
                                                    <input type="file" class="form-control form-control-sm"
                                                        id="inputGroupFile04"
                                                        aria-describedby="inputGroupFileAddon04"
                                                        aria-label="Upload" id="file" data-max-size="500"
                                                        accept=".pdf"
                                                        (blur)="handleFileInput($event.target.files, '4')" #Physically_Handicap_Certificate>
                                                    <button class="btn btn-outline-secondary btn-sm"
                                                        type="button" id="inputGroupFileAddon04"
                                                        (click)="documentUpload(4)">Upload</button>
                                                </div>
                                                <span class="help-block text-danger" *ngIf="fileUpload">Please upload the file</span>
                                            </div>  
                                            
                                            <div *ngIf="documentUploadArray[4]?.docName == 'Physically_Handicap_Certificate.pdf' && isVisible"
                                            class="mt-2 col-md-3">
                                            <h4 class="titleSet">Action</h4>
                                            <div>
                                                <a href="{{documentUploadArray[4]?.url}}"><i
                                                        class='bx bx-show' style="font-size: 25px; "></i></a>
                                                <!-- <i style="font-size: 25px; " (click)="deleteDocumentUploaded('Physically_Handicap_Certificate.pdf')"
                                                    class='bx bx-minus-circle'></i> -->
                                            </div>
                                        </div>
                                        <div class="col-md-3 mt-2">
                                            <div class="showDiv" *ngIf="isVisible">
                                                <h4 class="titleSet word-break">
                                                    Declaration Format:</h4>
                                                <div *ngIf="isVisible">
                                                    <a target="_blank"
                                                        class="btn  btn-sm btn-green word-break"
                                                        href="assets/assets/declaration/Annexture_I.pdf"> <i
                                                            class='bx bx-file'></i> Annexure I </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
    
                                    <div class="row" >                       
                                        <div class="col-3"> <h4 class="titleSet">Marital Status<span
                                            class="required-asterisk">*</span></h4> </div>
                                        <div class="col-2">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                            id="maritalStatusF" value="1"
                                            (click)="maritalStatusCheck($event)"
                                            name="maritalStatusF"
                                            formControlName="maritalStatusF" disabled>
    
                                            
                                            <label
                                            class="form-check-label font16 ff">Married</label>
                                       
                                        </div></div>
                                        <div class="col-2">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" value="4"
                                            (click)="maritalStatusCheck($event)"
                                            id="maritalStatusF" name="maritalStatusF"
                                            formControlName="maritalStatusF" disabled>
                                            <label class="form-check-label font16 ff">Single</label>
                                        </div></div>
                                    
                                    
                                        <div class="col-1">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" value="7"
                                                    (click)="maritalStatusCheck($event)"
                                                    id="maritalStatusF" name="maritalStatusF"
                                                    formControlName="maritalStatusF" disabled>
                                                    <label class="form-check-label font16 ff">Widow/Widower</label>
                                            </div></div>
                                            <span class="help-block text-danger"
                                            *ngIf="!basicProfileForm.get('maritalStatusF').valid  && basicProfileForm.get('maritalStatusF').touched">
                                            Select the applicable!</span>
                                    </div>                                                            
                                    <div class="row" *ngIf="marriedStatusYN">
                                        <div class="col-md-12">
    
                                            <h4 class="titleSet">
                                                Spouse Serving in <span class="required-asterisk">*</span>
                                            </h4>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                 
                                                    name="spouseStatusF" id="spouseStatusF"
                                                    formControlName="spouseStatusF" value="1"
                                                    (click)="onSpouseClick($event)" disabled>
                                                <label class="form-check-label" for="exampleRadios1">
                                                    KVS Employee
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                 
                                                    name="spouseStatusF" id="spouseStatusF"
                                                    formControlName="spouseStatusF" value="2"
                                                    (click)="onSpouseClick($event)" disabled>
                                                <label class="form-check-label" for="exampleRadios2">
                                                    Central Govt. / PSU / Defence Employee and Central Armed
                                                    Police Force Employee
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                   
                                                    name="spouseStatusF" id="spouseStatusF"
                                                    formControlName="spouseStatusF" value="3"
                                                    (click)="onSpouseClick($event)" disabled>
                                                <label class="form-check-label" for="exampleRadios3">
                                                    State Govt. / State Govt. PSU Employee
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                  
                                                    name="spouseStatusF" id="spouseStatusF"
                                                    formControlName="spouseStatusF" value="5"
                                                    (click)="onSpouseClick($event)" disabled>
                                                <label class="form-check-label" for="exampleRadios4">
                                                    None of these
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" >
                                        <div *ngIf="spouseNone && spouseKVSStation" class="col-md-6 mb-3">
                                            <h4 class="titleSet"> Serving Spouse Employee Code<span
                                                    class="required-asterisk">*</span> </h4>
                                            <input type="text" class="form-control" name="spouseEmpCode"
                                                (blur)="getSpouseDetails($event)" id="spouseEmpCode"
                                                formControlName="spouseEmpCode" disabled>
                                        </div>
                                        <div *ngIf="spouseNone" class="col-md-6 mb-3">
                                            <h4 class="titleSet"> Serving Spouse Name<span
                                                    class="required-asterisk">*</span> </h4>
                                            <input type="text" class="form-control "
                                                 style="text-transform:uppercase" name="spouseName"
                                                id="spouseName" formControlName="spouseName" disabled>
                                        </div>
                                        <div *ngIf="spouseNone && spouseKVSStation" class="col-md-6 mb-3">
                                            <h4 class="titleSet"> Position Held<span
                                                    class="required-asterisk">*</span> </h4>
                                                    
                                            <select class="form-select" aria-label="Default select example"
                                                id="spousePost" name="spousePost"
                                                formControlName="spousePost">
                                                <option selected disabled>Select</option>
                                                <option
                                                    *ngFor="let data of teacherTypeDataNameCode; let i=index;"
                                                    value="{{data.teacherTypeId}}">{{data.nameCode}}
                                                </option>
                                            </select>
                                        </div>
                                        <div *ngIf="spouseNone" class="col-md-6 mb-3">
                                            <h4 class="titleSet"> Station Name<span
                                                    class="required-asterisk">*</span> </h4>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control form-control-sm"
                                                    id="spouseStationName"
                                                    formControlName="spouseStationName"
                                                    name="spouseStationName" placeholder="Station Name"
                                                    aria-label="Recipient's username"
                                                    aria-describedby="button-addon2" [readonly]="true">
                                                <button
                                                    class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text"
                                                    type="button" id="button-addon2"><i
                                                        class="fa fa-search SearchIconSet"
                                                        (click)="selectSpouseStation()"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                     <div class="mt-4 button-save float-end " >
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>  <input  [disabled]="(!basicProfileForm.get('maritalStatusF').valid || !basicProfileForm.get('dob').valid ||
                       !basicProfileForm.get('fullName').valid || !basicProfileForm.get('specialRecruitmentYn').valid ||
                       !basicProfileForm.get('mobile').valid ||
                       !basicProfileForm.get('gender').valid ||
                       !basicProfileForm.get('staffType').valid ||
                       !basicProfileForm.get('empCode').valid ||
                       !basicProfileForm.get('presentPostName').valid ||
                       !basicProfileForm.get('presentSubjectName').valid || !basicProfileForm.get('email').valid || 
                       !basicProfileForm.get('crspndncAddress').valid  || !basicProfileForm.get('crspndncState').valid  ||
                       !basicProfileForm.get('crspndncDistrict').valid || !basicProfileForm.get('crspndncPinCode').valid ||
                       !basicProfileForm.get('prmntState').valid || !basicProfileForm.get('prmntDistrict').valid  || 
                       !basicProfileForm.get('prmntPinCode').valid || !basicProfileForm.get('prmntAddress').valid || 
                       !basicProfileForm.get('disabilityYN').valid || (!basicProfileForm.get('disabilityType').valid &&
                       basicProfileForm.get('disabilityYN').value == '1') || ((basicProfileForm.get('spouseStatusF').value == '1') &&
                       (!basicProfileForm.get('spouseEmpCode').valid ||
                       !basicProfileForm.get('spouseName').valid ||
                       !basicProfileForm.get('spousePost').valid ||
                       !basicProfileForm.get('spouseStationName').valid)) ||    
                       ((basicProfileForm.get('spouseStatusF').value == '2' ||
                       basicProfileForm.get('spouseStatusF').value == '3') &&
                       (!basicProfileForm.get('spouseName').valid ||
                       !basicProfileForm.get('spouseStationName').valid)) || (!basicProfileForm.get('crspndncPinCode').valid ||
                       (basicProfileForm.get('prmntPinCode').status != 'VALID' && basicProfileForm.get('prmntPinCode').status != 'DISABLED') || (documentUploadArray[4]?.docName != 'Physically_Handicap_Certificate.pdf' &&  basicProfileForm.get('disabilityYN').value == '1'))) "  type="submit" name="Save & Next"  class="me-2 add-teacher" value="Next" /> 
                    </div>

                </form>    
        </div>
    </div>
    </div>
    <div mat-dialog-content>
        <ng-template #selectSpouseStationModal let-modal style="min-width: 100%;">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12">
                        <div class="clearfix">
                            <div class="float-left">
                                <h2 class="mb-0 text-green">Select Your Region</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="" style="min-width: 100%; max-height: 750px;">
                <div class="container-fluid">
                    <div class="row p-4">
                        <div class="col-md-6 ">
                            <select class="form-select form-select-sm" aria-label="Default select example" (blur)="getStationByRegionId($event)">
                                <option selected disabled> Select Region</option>
                                <option *ngFor="let data of regionList; let i=index;" value="{{data.regionCode}}">
                                    {{data.regionName}}
                                </option>
    
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select class="form-select form-select-sm" aria-label="Default select example" [(ngModel)]="selectedSpouseStation">
                                <option selected disabled> Select Station</option>                         
                                <option *ngFor="let data of stationList; let i=index;"
                                value="{{data.station_code}}-{{data.station_name}}">
                                {{data.station_name}}
                            </option>
    
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="" style="margin-bottom: 20px; margin-top: 10px;">
                        <button class="btn btn-danger btn-sm " (click)="modal.dismiss('Cross click')">Cancel</button>
                        <button class="btn btn-success btn-sm" style="margin-left: 3px;" (click)="selectSpouseStationFn() ; modal.dismiss('Cross click')"> Ok</button>
                    </div>
                </div>
            </div>
    
        </ng-template>
    </div>
    </div>