<div class="dashboard-main-content" style="min-height: 600px;">
    <app-progresion-bar></app-progresion-bar>
    <div class="dashboard-main-content-info  p-4 mt-3">   
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-4">
                        <h2 class="mb-0">Basic Profile:</h2>
                    </div>
                    <div class="col-8">
                        <h2 class="steps text-end pro-name">{{ profileTeacherName | uppercase}}
                        </h2>
                    </div>
                </div>
                    <form [formGroup]="basicProfileForm" (ngSubmit)="submit()">
                        <div class="form-card">
                           
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="shadow p-3  min-height-523 " >
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet"> Employee Code<span class="required-asterisk">*</span></h4>
                                                <input type="text" class="form-control" name="empCode" formControlName="empCode" maxlength="10">
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('empCode').valid && basicProfileForm.get('empCode').touched">
                                                    Enter a valid employee code!</span>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">Full Name<span class="required-asterisk">*</span>
                                                </h4>
                                                <input type="text" class="form-control" (keyup)="onKeyUp($event)" name="fullName" formControlName="fullName" style="text-transform:uppercase" maxlength="50" >
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('fullName').valid && basicProfileForm.get('fullName').touched">
                                                    Enter your valid name!</span>
                                            </div>
    
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">Gender<span class="required-asterisk">*</span></h4>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" id="gender" value="1"  name="gender" formControlName="gender">
                                                    <label class="form-check-label font16 ff">Male</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" id="gender" value="2" name="gender" formControlName="gender">
                                                    <label class="form-check-label font16 ff">Female</label>
                                                </div>
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('gender').valid && basicProfileForm.get('gender').touched ">
                                                    Enter your gender!</span>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">Date of birth<span class="required-asterisk">*</span></h4>
                                                        <div class="input-group-addon">
                                                            <mat-datepicker #pickers></mat-datepicker>
                                                        </div>
                                                        <input class="form-control"  id="wordStartDate" [max]="maxDate" placeholder="DD/MM/YYYY"  [matDatepicker]="pickers"   (click)="pickers.open()"
                                                        formControlName="dob" >
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('dob').valid && basicProfileForm.get('dob').touched ">
                                                    <span class="help-block text-danger"
                                                        *ngIf="basicProfileForm.get('dob').errors['invalidDate'] ">
                                                        Age less than 18 years!
                                                    </span>
                                                <span class="help-block text-danger" *ngIf="basicProfileForm.get('dob').errors['required'] ">
                                                        Enter date of birth!
                                                    </span>
                                                </span>
                                            </div>
                                       
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">Mobile<span class="required-asterisk">*</span></h4>
                                                <input type="text" class="form-control" name="mobile" (blur)="checkMobileNumber($event)" formControlName="mobile" maxlength="10" minlength="10">
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('mobile').valid 
                                                && basicProfileForm.get('mobile').touched
                                                ">Enter valid mobile number of 10 digit !</span>
                                            </div>
    
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">Email <span class="required-asterisk">*</span></h4>
                                                <input type="email" class="form-control" name="email" formControlName="email"  style="text-transform: none">
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('email').valid && basicProfileForm.get('email').touched ">
                                                    Enter your email id!</span>
                                            </div>
                                            <div class="col-md-12">
                                               <hr>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">
                                                    Correspondence Address <span class="required-asterisk">*</span></h4>
                                                <textarea class="form-control" rows="1" name="crspndncAddress" formControlName="crspndncAddress" style="text-transform:uppercase"  (change)="addOrPinChange('A')"></textarea>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">State <span class="required-asterisk">*</span></h4>
                                                <select class="form-select" aria-label="Default select example" name="crspndncState" formControlName="crspndncState"  (change)="getDistrictListByStateId($event, 'C')">
                                                    <option selected disabled>Select State
                                                    </option>
                                                    <option *ngFor="let data of stateMasterList"
                                                        value="{{data.state_id}}">{{data.state_name | uppercase}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">District <span class="required-asterisk">*</span></h4>
                                                <select class="form-select" aria-label="Default select example" name="crspndncDistrict" formControlName="crspndncDistrict"  (change)="cDistrictChange($event.target.value)">
                                                    <option selected disabled>Select District
                                                    </option>
                                                    <option *ngFor="let data of districListByStateIdC"
                                                        value="{{data.district_id}}">
                                                        {{data.district_name | uppercase}}
                                                    </option>
                                                </select>                                              
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">Pin Code <span class="required-asterisk">*</span></h4>
                                                <input class="form-control" name="crspndncPinCode" minlength="6" type="text" formControlName="crspndncPinCode" maxlength="6"  (change)="addOrPinChange('p')">
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('crspndncPinCode').valid ">
                                                    Enter a valid pincode!</span>                                          
                                            </div>
                                            <div class="col-md-12">
                                                <hr>
                                             </div>
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">
                                                    Home Town Address as per Service Record <span class="required-asterisk">*</span>
                                                </h4>
                                                <textarea class="form-control" rows="1" name="prmntAddress" style="text-transform:uppercase" formControlName="prmntAddress" ></textarea>                                          
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">State <span class="required-asterisk">*</span></h4>
                                                <select class="form-select" aria-label="Default select example" name="prmntState" formControlName="prmntState"  (change)="getDistrictListByStateId($event, 'P')">
                                                    <option selected disabled>Select
                                                    </option>
                                                    <option *ngFor="let data of stateMasterList"
                                                        value="{{data.state_id}}">{{data.state_name | uppercase}}
                                                    </option>                                            
                                                </select>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">District <span class="required-asterisk">*</span></h4>
                                                <select class="form-select" aria-label="Default select example" name="prmntDistrict" formControlName="prmntDistrict"  (blur)="pDistrictChange($event.target.value)">
                                                    <option selected disabled>Select</option>
                                                    <option *ngFor="let data of districListByStateIdP"
                                                        value="{{data.district_id}}">
                                                        {{data.district_name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">Pin Code <span class="required-asterisk">*</span></h4>
                                                <input type="text" class="form-control" maxlength="6" minlength="6" name="prmntPinCode" formControlName="prmntPinCode" >
                                       
                                                <span class="help-block text-danger" *ngIf="basicProfileForm.get('prmntPinCode').status != 'VALID' && basicProfileForm.get('prmntPinCode').status != 'DISABLED'">
                                                    Enter a valid pincode!</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="shadow p-3  min-height-620">
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet"> Present KV/RO/ZIET/HQ Name(Code)</h4>
                                                <input type="text" class="form-control " name="presentKvName" formControlName="presentKvName" value="kvCode" [(ngModel)]="kvNameCode" disabled>
                                            </div>
    
                                            <div class="col-md-6 mb-3">
                                           <h4 class="titleSet">Present Post Name(Code)<span class="required-asterisk">*</span></h4>
                                           <select class="form-select" aria-label="Default select example" name="presentPostName" formControlName="presentPostName" (change)="teacherTypeSelect($event)" >
                                               <option selected disabled>Select</option>
                                               <option
                                                   *ngFor="let data of teacherTypeDataNameCode;"
                                                   value="{{data.teacherTypeId}}">{{data.nameCode}}
                                               </option>
                                           </select>
                                           <span class="help-block text-danger" *ngIf="!basicProfileForm.get('presentPostName').valid && 
                                           basicProfileForm.get('presentPostName').touched">
                                               Enter Present Post Name(Code)!</span>
                                            </div>
    
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet"> Present Station Name(Code)</h4>
                                                <input type="text" class="form-control " name="presentStationName" formControlName="presentStationName" value="stationCode" [(ngModel)]="stationNameCode" disabled>
                                            </div>
    
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet"> Subject Name(Code)<span class="required-asterisk">*</span></h4>
                                                <select class="form-select" aria-label="Default select example" name="presentSubjectName" formControlName="presentSubjectName" >
                                                    <option selected disabled>Select</option>
                                                    <option
                                                        *ngFor="let data of subjectListNameCode;"
                                                        value="{{data.subjectCode}}">{{data.subNameCode}}
                                                    </option>
                                                </select>
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('presentSubjectName').valid && 
                                                basicProfileForm.get('presentSubjectName').touched">
                                                    Enter Subject Name(Code)!</span>
                                            </div>   
    
    
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">Last promotion position date<span class="required-asterisk">*</span></h4>
                                                        <div class="input-group-addon">
                                                            <mat-datepicker #pickers12></mat-datepicker>
                                                        </div>
                                                        <input class="form-control"  id="wordStartDate" [max]="maxDate" placeholder="DD/MM/YYYY"  [matDatepicker]="pickers12"   (click)="pickers12.open()"
                                                        formControlName="lastPromotionPositionDate" >
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('lastPromotionPositionDate').valid && basicProfileForm.get('lastPromotionPositionDate').touched ">
                                                <span class="help-block text-danger" *ngIf="basicProfileForm.get('lastPromotionPositionDate').errors['required'] ">
                                                        Enter last promotion position date!
                                                    </span>
                                                </span>
                                            </div>
    
                                            <div class="col-md-6 mb-3">                                        
                                                <h4 class="titleSet">Have you been recruited under special recruitment for NER ?</h4>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" value="13" id="singleparentyes" name="specialRecruitmentYn" type="radio" formControlName="specialRecruitmentYn" >
                                                    <label class="form-check-label font16 ff" for="inlineRadio1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" value="14" id="singleparentno" name="specialRecruitmentYn" type="radio" formControlName="specialRecruitmentYn" >
                                                    <label class="form-check-label font16 ff" for="inlineRadio2">No</label>
                                                </div>                                                                                  
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('specialRecruitmentYn').valid  && basicProfileForm.get('specialRecruitmentYn').touched">
                                                        Select whichever applicable!</span>
                                            </div>
    
                                            <div class="col-md-6 mb-3">
                                                <h4 class="titleSet">Staff Type<span class="required-asterisk">*</span></h4>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" id="inlineRadio1" value="1" disabled  name="staffType" formControlName="staffType">
                                                    <label class="form-check-label font16 ff" for="inlineRadio1">Teaching</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" id="inlineRadio2" value="2" disabled  name="staffType" formControlName="staffType">
                                                    <label class="form-check-label font16 ff" for="inlineRadio2">Non-Teaching</label>
                                                </div>                                          
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('staffType').valid && 
                                                basicProfileForm.get('staffType').touched">
                                                    Select Staff Type!</span>
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4 class="titleSet">Do you have any kind of disability,if any ?</h4>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" value="1" name="disabilityYN" type="radio" formControlName="disabilityYN" (click)="clickOnDisability('yes')">
                                                    <label class="form-check-label font16 ff" for="inlineRadio1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" value="0" name="disabilityYN" type="radio" formControlName="disabilityYN"  (click)="clickOnDisability('no')">
                                                    <label class="form-check-label font16 ff" for="inlineRadio2">No</label>
                                                </div>
                                                <span class="help-block text-danger" *ngIf="!basicProfileForm.get('disabilityYN').valid ">
                                                    required!</span>
                                            </div>
    
                                            <div class="col-md-6" *ngIf="isVisible">
                                                <div class="showDiv">
                                                    <h4 class="titleSet">
                                                        Type of Disability : <span class="required-asterisk">*</span>
                                                    </h4>
                                                    <select class="form-select" aria-label="Default select example" name="disabilityType" formControlName="disabilityType">
                                                     
                                                        <option selected disabled>Select</option>
                                                        <option *ngFor="let data of formDataList.disability"
                                                            value="{{data.disabilityId}}">
                                                            {{data.disabilityType}}</option>
                                                    </select>
                                                    <span class="help-block text-danger" *ngIf="!basicProfileForm.get('disabilityType').valid ">
                                                        Select type of disability!</span>
                                                </div>
                                            </div>             
                                        </div>                              
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 button-save float-end " >
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>  <input [disabled]="!basicProfileForm.get('dob').valid ||
                           !basicProfileForm.get('fullName').valid || !basicProfileForm.get('specialRecruitmentYn').valid ||
                           !basicProfileForm.get('mobile').valid ||
                           !basicProfileForm.get('gender').valid ||
                           !basicProfileForm.get('staffType').valid ||
                           !basicProfileForm.get('empCode').valid ||
                           !basicProfileForm.get('presentPostName').valid ||
                           !basicProfileForm.get('presentSubjectName').valid || !basicProfileForm.get('email').valid || 
                           !basicProfileForm.get('crspndncAddress').valid  || !basicProfileForm.get('crspndncState').valid  ||
                           !basicProfileForm.get('crspndncDistrict').valid || !basicProfileForm.get('crspndncPinCode').valid ||
                           !basicProfileForm.get('prmntState').valid || !basicProfileForm.get('prmntDistrict').valid  || 
                           !basicProfileForm.get('prmntPinCode').valid || !basicProfileForm.get('prmntAddress').valid || 
                           !basicProfileForm.get('disabilityYN').valid || (!basicProfileForm.get('disabilityType').valid &&
                           basicProfileForm.get('disabilityYN').value == '1') || (!basicProfileForm.get('crspndncPinCode').valid ||
                           (basicProfileForm.get('prmntPinCode').status != 'VALID' && basicProfileForm.get('prmntPinCode').status != 'DISABLED') ) "  type="submit" name="Next"  class="me-2 add-teacher" value="Next" /> 
                           </div>
                </form>    
        </div>
    </div>
    </div>
    </div>