<div class="row">
    <div class="col-md-12">
        <div class="shadow-sm bg-white ">
            <div class="p-3">
                <div class="card px-0 pb-0 ">
                    <form id="msform">  
                        <ul id="progressbar" class="m-0 p-0">
                            <li [ngClass]="{'active' : profileVerifiation}"  id="profile">
                                <strong>Profile Verification</strong>
                            </li>
                            <li [ngClass]="{'active' : miscellaneousPge}"  id="experience">
                                <strong>Miscellaneous</strong>
                            </li>
                            <li [ngClass]="{'active' : stationChoicepage}"   id="upload" >
                                <strong>Station Choice</strong>
                            </li>
                            <li [ngClass]="{'active' : previewAndUndertakingPage}"   id="upload" >
                                <strong>Preview And Undertaking</strong>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>