<div class="dashboard-main-content" style="min-height: 600px;">
    <app-transfer-progresion-bar></app-transfer-progresion-bar>
<div class="dashboard-main-content-info  p-4 mt-3">   
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-6">
                    <h2 class="mb-0">Miscellaneous: <span style="color: #f9384b;font-size: 14px;">(Please do not use any special Characters to fill form)</span></h2>
                </div>
                <div class="col-6">
                    <h2 class="steps text-end pro-name">Vishajeet Singh
                    </h2>
                </div>
            </div>
    <form [formGroup]="miscellaneousForm" (ngSubmit)="submit()">
        <div class="form-card shadow p-3">
            <div class="p-3">
                <div class="row">
                    <div class="col-md-10 mb-2">
                        <ul class="LIneInde">
                            <li class="me-2">
                                <h4 class="titleSet">
                                    <span class="text-green">1.</span>
                                </h4>
                            </li>
                            <li>
                                <h4 class="titleSet ps-2">
                                    Whether the employee is seeking benefit of spouse who is working at the same station where employee is posted/transfer is being sought for.
                                </h4>
                            </li>
                        </ul>
                    </div>
                   
                    <div class="col-md-2 mb-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineRadio13" value="1" (click)="declarationtransferRelated1($event)" id="spouseKvsYnD" formControlName="spouseKvsYnD" name="spouseKvsYnD" >
                            <label class="form-check-label" for="inlineRadio13">Yes
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineRadio24" value="0" (click)="declarationtransferRelated1($event)" id="spouseKvsYnD" formControlName="spouseKvsYnD" name="spouseKvsYnD" >
                            <label class="form-check-label" for="inlineRadio24">No</label>
                        </div>
                    </div>
                </div>
                <div *ngIf="gkFilebenefit" class="mb-4">
                    <div class="row">
                      
                        <div class="col-md-3">
                            <h4 class="titleSet">Spouse name</h4>
                            <input type="text" class="form-control mb-3" style="text-transform:uppercase" id="spouseName" name="spouseName" value=" {{responseData.spouseName}}">
                        </div>

                   
                        <div class="col-md-3">
                            <h4 class="titleSet">Name of Station</h4>
                            <input type="text" class="form-control  mb-3" style="text-transform:uppercase" id="spouseStationName" formControlName="spouseStationName" name="spouseStationName" disabled>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="titleSet">Upload Spouse Declaration In PDF (Max 500 KB)<span class="required-asterisk">*</span></h4>
                            <div class="input-group">
                                <input type="file" class="form-control form-control-sm" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" id="file" data-max-size="500" accept=".pdf" (change)="handledeclarationRelatedFormFileInput($event.target.files, '5')" #spouseFile>
                                <button [disabled]="enableUploadButtonRelatedForm5" class="btn btn-secondary btn-sm" type="button" id="inputGroupFileAddon04" (click)="documentUploadRelatedForm(5)">Upload</button>
                            </div>

                            <span class="help-block text-danger" *ngIf="fileUpgkFilebenefit">Please upload the file</span>
                       
                        </div>
                        <div *ngIf="documentUploadArray[5]?.docName == 'Spouse_Declaration.pdf'" class="col-md-4">
                            <h4 class="titleSet">Uploaded Document</h4>
                            <div>                 
                                <a target="_blank" class="btn  btn-sm btn-green" href="{{documentUploadArray[5]?.url}}"> <i class='bx bx-file'>{{documentUploadArray[5]?.docName}}</i>
                                </a>
                                <i *ngIf="allowEdit" (click)="deleteDocumentUploaded('Spouse_Declaration.pdf')" class='bx bx-minus-circle'></i>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="showDiv">
                                <h4 class="titleSet">
                                    Download Declaration Format:</h4>

                                <div>
                                    <a target="_blank" class="btn  btn-sm btn-green" href="assets/assets/declaration/Annexture_II.pdf"> <i class='bx bx-file'></i> Annexure II </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3" style="border-top: 1px dotted;">
                    <div class="col-md-10 mb-2 py-3">
                        <h4 class="titleSet">
                            <span class="text-green">2.</span> Whether the employee is seeking benefit of medical ground (MDG Ground) <a href="assets/assets/declaration/MdgDeclaration.pdf" download class="text-danger">(Mandatory Instruction)</a>
                        </h4>
                    </div>
                    <div class="col-md-2 mb-2 py-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineRadio13" value="1" (click)="declarationtransferRelated2($event)" id="personalStatusMdgD" formControlName="personalStatusMdgD" name="personalStatusMdgD" [checked]="personalStatusMdgDradioButton == '1'">
                            <label class="form-check-label" for="inlineRadio13">Yes
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineRadio24" value="0" (click)="declarationtransferRelated2($event)" id="personalStatusMdgD" formControlName="personalStatusMdgD" name="personalStatusMdgD" [checked]="personalStatusMdgDradioButton == '0'">
                            <label class="form-check-label" for="inlineRadio24">No</label>
                        </div>
                    </div>
                </div>
                <div *ngIf="gkFilemMedical">
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet">Name of Patient<span class="required-asterisk">*</span>
                            </h4>
                            <input type="text" class="form-control  mb-3" style="text-transform:uppercase" id="patientName" formControlName="patientName" name="patientName" maxlength="50">
                        </div>
                        <div class="col-md-3 mb-2">
                            <label class="titleSet">Relation With the Employee<span class="required-asterisk">*</span>
                            </label>

                            <select class="form-select" aria-label="Default select example" name="relationWithEmplMdg" formControlName="relationWithEmplMdg" [(ngModel)]="relationWithEmplMdgData">
                                <!-- <option selected>Select</option> -->
                                <option selected disabled>Select</option>
                                <option value="SELF">SELF</option>
                                <option value="DAUGHTER">DAUGHTER</option> 
                                <option value="SON">SON</option>
                                <option value="SPOUSE">SPOUSE</option>
                            </select>
                        </div>

                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet">Type of ailment<span class="required-asterisk">*</span>
                            </h4>

                            <select class="form-select" aria-label="Default select example" name="patientAilment" formControlName="patientAilment" [(ngModel)]="patientAilmentData">
                                <!-- <option selected>Select</option> -->
                                <option selected disabled>Select</option>
                                <option value="ANY OTHER DISEASE WITH MORE THAN MENTAL DISABILTY">ANY OTHER DISEASE WITH MORE THAN 50% MENTAL DISABILTY</option>
                                <option value="AIDS">AIDS</option>    
                                <option value="CANCER">CANCER</option>
                                <option value="CORONARY ARTERY DISEASE AS EXPLAINED BELOW">CORONARY ARTERY DISEASE AS EXPLAINED BELOW</option>                                                                        
                                <option value="MOTOR NEURON DISEASE">MOTOR NEURON DISEASE</option>
                                <option value="PARALYTIC STROKE">PARALYTIC STROKE</option>
                                <option value="PARKINSONS DISEASE">PARKINSONS DISEASE</option>
                                <option value="RENAL FAILURE">RENAL FAILURE</option>
                                <option value="THALASSAEMIA">THALASSAEMIA</option>
                                <option value="ANY OTHER">ANY OTHER</option> 
                            </select>

                        </div>
                        <div class="col-md-6 mb-3">
                            <h4 class="titleSet">Name of the Hospital and the place where treatement is being undertaken<span class="required-asterisk">*</span>
                            </h4>
                            <input type="text" class="form-control  mb-3" id="patientHospital" style="text-transform:uppercase" formControlName="patientHospital" name="patientHospital" maxlength="50">
                        </div>
                        <div class="col-md-12 mb-3">
                            <h4 class="titleSet">Name and designation of the Medical Officer who has issued the medical certificate:<span class="required-asterisk">*</span>
                            </h4>


                        </div>
                        <div class="col-md-3">
                            <label class="titleSet">Name  <span
                                    class="required-asterisk">*</span></label>
                            <input type="text" class="form-control  mb-3" style="text-transform:uppercase" id="patientMedicalOfficerName" formControlName="patientMedicalOfficerName" name="patientMedicalOfficerName" maxlength="50">
                        </div>
                        <div class="col-md-3">
                            <label class="titleSet">Designation  <span
                                    class="required-asterisk">*</span></label>
                            <input type="text" class="form-control  mb-3" style="text-transform:uppercase" id="patientMedicalOfficerDesignation" formControlName="patientMedicalOfficerDesignation" name="patientMedicalOfficerDesignation" maxlength="50">
                        </div>

                        <div class="col-md-3">
                            <label class="titleSet">Issue date of medical certificate <span
                                    class="required-asterisk">*</span></label>
                            <input type="date" [max]="maxDate" class="form-control" name="medicalCertificateIssueDate" formControlName="medicalCertificateIssueDate" [(ngModel)]="medicalCertificateIssueDateData" style="text-transform: none">
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="titleSet">Upload Medical Certificate In PDF (Max 500 KB)<span class="required-asterisk">*</span></h4>
                            <div class="input-group">
                                <input type="file" class="form-control form-control-sm" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" id="file" data-max-size="500" accept=".pdf" (change)="handledeclarationRelatedFormFileInput($event.target.files, '0')" #Medical_Certificate>
                                <button [disabled]="enableUploadButtonRelatedForm0" class="btn btn-secondary btn-sm" type="button" id="inputGroupFileAddon04" (click)="documentUploadRelatedForm(0)">Upload</button>
                            </div>

                            <span class="help-block text-danger" *ngIf="fileUpgkFilemMedical">Please upload the file</span>

                        </div>

                        <div *ngIf="documentUploadArray[0]?.docName == 'Medical_Certificate.pdf'" class="col-md-4">
                            <h4 class="titleSet">Uploaded Document</h4>
                            <div>                              
                                <a target="_blank" class="btn  btn-sm btn-green" href="{{documentUploadArray[0]?.url}}"> <i class='bx bx-file'>{{documentUploadArray[0]?.docName}}</i>
                                </a>

                                <i *ngIf="allowEdit" (click)="deleteDocumentUploaded('Medical_Certificate.pdf')" class='bx bx-minus-circle'></i>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="showDiv">
                                <h4 class="titleSet">
                                    Download Declaration Format:</h4>

                                <div>
                                    <a target="_blank" class="btn  btn-sm btn-green" href="assets/assets/declaration/Annexture_III.pdf"> <i class='bx bx-file'></i> Annexure III </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3" style="border-top: 1px dotted;">
                    <div class="col-md-10 mb-2 py-3">
                        <h4 class="titleSet">
                            <span class="text-green">3.</span> Whether the employee is seeking benefit of single parent (SP Ground)
                        </h4>
                    </div>
                    <div class="col-md-2 mb-2 py-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineRadio13" value="1" (click)="declarationtransferRelated6($event)" id="personalStatusSpD" formControlName="personalStatusSpD" name="personalStatusSpD" [checked]="personalStatusSpDradioButton == '1'">
                            <label class="form-check-label" for="inlineRadio13">Yes
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineRadio24" value="0" (click)="declarationtransferRelated6($event)" id="personalStatusSpD" formControlName="personalStatusSpD" name="personalStatusSpD" [checked]="personalStatusSpDradioButton == '0'">
                            <label class="form-check-label" for="inlineRadio24">No</label>
                        </div>
                    </div>
                </div>
                <div *ngIf="spGround">
                    <div class="row">
                        <div class="col-md-3 mb-2">
                            <label class="titleSet">Reason for being Single Parent<span class="required-asterisk">*</span>
                    </label>

                            <select class="form-select" aria-label="Default select example" name="singleParentGround" formControlName="singleParentGround" [(ngModel)]="singleParentGroundData">
                        <!-- <option selected>Select</option> -->
                        <option selected disabled>Select</option>
                        <option value="ADOPTION">ADOPTION</option>
                        <option value="DEATH OF SPOUSE">DEATH OF SPOUSE</option>
                        <option value="DIVORCE">DIVORCE</option>
                        <option value="LEGAL SEPARATION">LEGAL SEPARATION</option>    
                    </select>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label class="titleSet">Issue date certificate <span
                            class="required-asterisk">*</span></label>
                            <input type="date" class="form-control" [max]="maxDate" name="singleParentCertificateIssueDate" formControlName="singleParentCertificateIssueDate" [(ngModel)]="singleParentCertificateIssueDateData" style="text-transform: none">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="titleSet">Upload SP Declaration In PDF (Max 500 KB)<span class="required-asterisk">*</span></h4>
                            <div class="input-group">
                                <input type="file" class="form-control form-control-sm" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" id="file" data-max-size="500" accept=".pdf" (change)="handledeclarationRelatedFormFileInput($event.target.files, '6')" #Single_Parent_Declaration>
                                <button [disabled]="enableUploadButtonRelatedForm6" class="btn btn-secondary btn-sm" type="button" id="inputGroupFileAddon04" (click)="documentUploadRelatedForm(6)">Upload</button>
                            </div>

                            <span class="help-block text-danger" *ngIf="fileUpspGround">Please upload the file</span>

                        </div>
                        <div *ngIf="documentUploadArray[6]?.docName == 'Single_Parent_Declaration.pdf'" class="col-md-4">
                            <h4 class="titleSet">Uploaded Document</h4>
                            <div>

                                <!-- <a href="{{documentUploadArray[6]?.url}}"><i
                                        class='bx bx-show'></i></a> -->

                                <a target="_blank" class="btn  btn-sm btn-green" href="{{documentUploadArray[6]?.url}}"> <i class='bx bx-file'>{{documentUploadArray[6]?.docName}}</i>
                                </a>

                                <i *ngIf="allowEdit" (click)="deleteDocumentUploaded('Single_Parent_Declaration.pdf')" class='bx bx-minus-circle'></i>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="showDiv">
                                <h4 class="titleSet">
                                    Download Declaration Format:</h4>
                                <div>
                                    <a target="_blank" class="btn  btn-sm btn-green" href="assets/assets/declaration/Annexture_V.pdf"> <i class='bx bx-file'></i> Annexure V </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3" style="border-top: 1px dotted;">
                    <div class="col-md-10 mb-2 py-3">
                        <h4 class="titleSet">
                            <span class="text-green">4.</span> Whether the employee is seeking benefit of Death of Family Person (DFP Ground)
                        </h4>
                    </div>
                    <div class="col-md-2 mb-2 py-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineRadio13" value="1" (click)="declarationtransferRelated7($event)" id="personalStatusDfpD" formControlName="personalStatusDfpD" name="personalStatusDfpD" [checked]="personalStatusDfpDradioButton == '1'">
                            <label class="form-check-label" for="inlineRadio13">Yes
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineRadio24" value="0" (click)="declarationtransferRelated7($event)" id="personalStatusDfpD" formControlName="personalStatusDfpD" name="personalStatusDfpD" [checked]="personalStatusDfpDradioButton == '0'">
                            <label class="form-check-label" for="inlineRadio24">No</label>
                        </div>
                    </div>
                </div>
                <div *ngIf="dfpGround">
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label class="titleSet">Name of family members <span
                                    class="required-asterisk">*</span></label>
                            <input type="text" class="form-control  mb-3" style="text-transform:uppercase" id="nameOfFamilyMember" formControlName="nameOfFamilyMember" name="nameOfFamilyMember">
                        </div>
                        <div class="col-md-3 mb-2">
                            <label class="titleSet"> Relation With the Employee<span class="required-asterisk">*</span>
                        </label>

                            <select class="form-select" aria-label="Default select example" name="deathOfFamilyGround" formControlName="deathOfFamilyGround" [(ngModel)]="deathOfFamilyGroundData">
                            <!-- <option selected>Select</option> -->
                            <option selected disabled>Select</option>
                            <option value="DAUGHTER">DAUGHTER</option> 
                            <option value="SON">SON</option>
                            <option value="SPOUSE">SPOUSE</option>                                                      
                        </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="titleSet">Date of Demise <span
                                class="required-asterisk">*</span></label>
                            <input type="date" [max]="maxDate" class="form-control" name="deathCertificateIssueDate" formControlName="deathCertificateIssueDate" [(ngModel)]="deathCertificateIssueDateData" style="text-transform: none">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <h4 class="titleSet">Upload DFP Certificate Issued by Compitent Authority In PDF (Max 500 KB)<span class="required-asterisk">*</span></h4>
                            <div class="input-group">
                                <input type="file" class="form-control form-control-sm" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" id="file" data-max-size="500" accept=".pdf" (change)="handledeclarationRelatedFormFileInput($event.target.files, '7')" #DFP_Declaration>
                                <button [disabled]="enableUploadButtonRelatedForm7" class="btn btn-secondary btn-sm" type="button" id="inputGroupFileAddon04" (click)="documentUploadRelatedForm(7)">Upload</button>
                            </div>
                            <span class="help-block text-danger" *ngIf="fileUpdfpGround">Please upload the file</span>
                        </div>
                        <div *ngIf="documentUploadArray[7]?.docName == 'DFP_Declaration.pdf'" class="col-md-4">
                            <h4 class="titleSet">Uploaded Document</h4>
                            <div>

                                <a target="_blank" class="btn  btn-sm btn-green" href="{{documentUploadArray[7]?.url}}"> <i class='bx bx-file'>{{documentUploadArray[7]?.docName}}</i>
                                </a>

                                <i *ngIf="allowEdit" (click)="deleteDocumentUploaded('DFP_Declaration.pdf')" class='bx bx-minus-circle'></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3" style="border-top: 1px dotted;">
                    <div class="col-md-10 mb-2 py-3">
                        <h4 class="titleSet">
                            <span class="text-green">5.</span> Whether your are main care-giver to the person with disability in the family (i.e. spouse/son/daughter).
                        </h4>
                    </div>
                    <div class="col-md-2 mb-2 py-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineRadio13" value="1" (click)="declarationtransferRelated4($event)" id="careGiverFaimlyYnD" formControlName="careGiverFaimlyYnD" name="careGiverFaimlyYnD" [checked]="careGiverFaimlyYnDradioButton == '1'">
                            <label class="form-check-label" for="inlineRadio13">Yes
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineRadio24" value="0" (click)="declarationtransferRelated4($event)" id="careGiverFaimlyYnD" formControlName="careGiverFaimlyYnD" name="careGiverFaimlyYnD" [checked]="careGiverFaimlyYnDradioButton == '0'">
                            <label class="form-check-label" for="inlineRadio24">NO</label>
                        </div>
                    </div>
                </div>
                <div *ngIf="careGiver">
                    <div class="row">
                        <div class="col-md-6 ">
                            <h4 class="titleSet ">Name of the family member who is having disability
                                <span class="required-asterisk">*</span>
                            </h4>
                            <input type="text" class="form-control mb-3" style="text-transform:uppercase" id="careGiverName" formControlName="careGiverName" name="careGiverName" maxlength="50">
                        </div>

                        <div class="col-md-3 mb-2">
                            <label class="titleSet"> Relation with care giver<span class="required-asterisk">*</span>
                            </label>

                            <select class="form-select" aria-label="Default select example" name="careGiverRelation" formControlName="careGiverRelation" [(ngModel)]="careGiverRelationData">
                                <!-- <option selected>Select</option> -->
                                <option selected disabled>Select</option>
                                <option value="DAUGHTER">DAUGHTER</option> 
                                <option value="SON">SON</option>
                                <option value="SPOUSE">SPOUSE</option>  
                            </select>
                        </div>

                        <div class="col-md-6">
                            <h4 class="titleSet">Name the type of disability as per the RPwD Act.<span class="required-asterisk">*</span>
                            </h4>
                            <input type="text" class="form-control mb-3" style="text-transform:uppercase" id="careGiverDisabilityName" formControlName="careGiverDisabilityName" name="careGiverDisabilityName" maxlength="50">
                        </div>
                        <div class="col-md-3">
                            <h4 class="titleSet">Percentage of disability<span class="required-asterisk">*</span>
                            </h4>
                            <input type="text" class="form-control mb-3" id="careGiverDisabilityPrcnt" formControlName="careGiverDisabilityPrcnt" name="careGiverDisabilityPrcnt" maxlength="3" max="100" min="0" (input)="checkPercentageOfDisablity($event)">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="titleSet">Upload Disability Certificate In PDF (Max 500 KB)<span class="required-asterisk">*</span></h4>
                            <div class="input-group">
                                <input type="file" class="form-control form-control-sm" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" id="file" data-max-size="500" accept=".pdf" (change)="handledeclarationRelatedFormFileInput($event.target.files, '2')" #Disability_Certificate>
                                <button [disabled]="enableUploadButtonRelatedForm2" class="btn btn-secondary btn-sm" type="button" id="inputGroupFileAddon04" (click)="documentUploadRelatedForm(2)">Upload</button>
                            </div>

                            <span class="help-block text-danger" *ngIf="fileUpcareGiver">Please upload the file</span>

                        </div>
                        <div *ngIf="documentUploadArray[2]?.docName == 'Disability_Certificate.pdf'" class="col-md-4">
                            <h4 class="titleSet">Uploaded Document</h4>
                            <div>

                                <a target="_blank" class="btn  btn-sm btn-green" href="{{documentUploadArray[2]?.url}}"> <i class='bx bx-file'>{{documentUploadArray[2]?.docName}}</i>
                                </a>

                                <i  *ngIf="allowEdit" (click)="deleteDocumentUploaded('Disability_Certificate.pdf')" class='bx bx-minus-circle'></i>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="showDiv">
                                <h4 class="titleSet">
                                    Download Declaration Format:</h4>

                                <div>
                                    <a target="_blank" class="btn  btn-sm btn-green" href="assets/assets/declaration/Annexture_IV.pdf"> <i class='bx bx-file'></i> Annexure IV </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mt-3" style="border-top: 1px dotted;">
                    <div class="col-md-10 mb-2 py-3">
                        <h4 class="titleSet">
                            <span class="text-green">6.</span> Members of JCM at KVS Regional Office (RJCM) / KVS Headquarters (NJCM).
                        </h4>
                    </div>
                    <div class="col-md-2 mb-2 py-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineRadio13" value="1" id="memberJCM" (click)="checkRjcmNjcm('show')" formControlName="memberJCM" [checked]="inlineRadio13radioButton == '1'" name="memberJCM">
                            <label class="form-check-label" for="inlineRadio13">RJCM
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineRadio13" value="2" id="memberJCM" formControlName="memberJCM" (click)="checkRjcmNjcm('show')" [checked]="inlineRadio13radioButton == '2'" name="memberJCM">
                            <label class="form-check-label" for="inlineRadio13">NJCM
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineRadio24" value="0" id="memberJCM" formControlName="memberJCM" (click)="checkRjcmNjcm('notShow')" [checked]="inlineRadio13radioButton == '0'" name="memberJCM">
                            <label class="form-check-label" for="inlineRadio24">None</label>
                        </div>
                    </div>
                </div>
                <div>

                    <div class="row" *ngIf="positionHeld">
                        <div class="col-md-3">
                            <h4 class="titleSet">Position Held<span class="required-asterisk">*</span></h4>
                            <div class="input-group">
                                <input type="text" class="form-control  mb-3" style="text-transform:uppercase" id="positionOfNjcmRjcm" formControlName="positionOfNjcmRjcm" name="positionOfNjcmRjcm">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <h4 class="titleSet">Upload NJCM/RJCM Office Order In PDF (Max 500 KB)<span class="required-asterisk">*</span></h4>
                            <div class="input-group">
                                <input type="file" class="form-control form-control-sm" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" id="file" data-max-size="500" accept=".pdf" (change)="handledeclarationRelatedFormFileInput($event.target.files, '8')" #NJCM_RJCM_Declaration>
                                <button [disabled]="enableUploadButtonRelatedForm8" class="btn btn-secondary btn-sm" type="button" id="inputGroupFileAddon04" (click)="documentUploadRelatedForm(8)">Upload</button>
                            </div>

                            <span class="help-block text-danger" *ngIf="fileUppositionHeld">Please upload the file</span>

                        </div>
                        <div *ngIf="documentUploadArray[8]?.docName == 'NJCM_RJCM_Declaration.pdf'" class="col-md-4">
                            <h4 class="titleSet">Uploaded Document</h4>
                            <div>

                                <a target="_blank" class="btn  btn-sm btn-green" href="{{documentUploadArray[8]?.url}}"> <i class='bx bx-file'>{{documentUploadArray[8]?.docName}}</i>
                                </a>

                                <i  *ngIf="allowEdit" (click)="deleteDocumentUploaded('NJCM_RJCM_Declaration.pdf')" class='bx bx-minus-circle'></i>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mt-3" style="border-top: 1px dotted;">
                    <div class="col-md-5 mb-2 py-3">
                        <h4 class="hover-text titleSet"><span class="text-green">7.</span>Active stay (in years) <span class="required-asterisk">Refer 2 (i) of Part- 1 of Transfer Policy 2023.</span> <i class="fa fa-info-circle fa-lg" aria-hidden="true" style="color: red;"></i>
                            <span class="tooltip-text" id="top">Continuous Service at a station as on 1st July for all Stations excluding the period or periods of absence (including any kind of leave other than Maternity leave) from duty exceeding 30 days or more at normal station and 45 days or more at Hard,NER and Priority Station,irrespective of cadre </span>
                        </h4>
                    </div>

                    <div class="col-md-1 mb-2 py-3">
                        <div class="input-group ">
                            <input type="text" class="form-control  mb-3" id="absenceDaysOne" formControlName="absenceDaysOne" value="0" name="absenceDaysOne" (blur)="checkActiveStaty($event)" maxlength="2">
                        </div>

                    </div>

                </div>

                <div class="row mt-3" style="border-top: 1px dotted;">
                    <div class="col-md-10 mb-2 py-3">
                        <h4 class="titleSet">
                            <span class="text-green">8.</span> Whether disciplinary proceedings are in progress.
                        </h4>
                    </div>
                  
                    <div class="col-md-2 mb-2 py-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="disciplinaryYn" value="1" id="disciplinaryYn" formControlName="disciplinaryYn" name="disciplinaryYn" [checked]="disciplinaryYnradioButton == '1'">
                            <label class="form-check-label" for="disciplinaryYn">Yes
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="disciplinaryYn" value="0" id="disciplinaryYn" formControlName="disciplinaryYn" name="disciplinaryYn" [checked]="disciplinaryYnradioButton == '0'">
                            <label class="form-check-label" for="disciplinaryYn">No
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row mt-3" style="border-top: 1px dotted;">
                    <div class="col-md-10 mb-2 py-3">
                        <h4 class="titleSet">
                            <span class="text-green">9.</span> Whether, the employee has completed one tenure at hard/NER/Priority station(during entire service).
                        </h4>
                    </div>

                    <div class="col-md-2 mb-2 py-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="surveHardYn" value="1" id="surveHardYn" formControlName="surveHardYn" name="surveHardYn" [checked]="surveHardYnradioButton == '1'">
                            <label class="form-check-label" for="surveHardYn">Yes
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="surveHardYn" value="0" id="surveHardYn" formControlName="surveHardYn" name="surveHardYn" [checked]="surveHardYnradioButton == '0'">
                            <label class="form-check-label" for="surveHardYn">No
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row mt-3" style="border-top: 1px dotted;">
                    <div class="col-md-12 mb-2 py-3">
                        <h4 class="titleSet mb-0">
                            Undertaking
                        </h4>
                    </div>
                    <div class="col-md-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="showSaveBuuton($event)">
                            <p>I hereby undertake that information given by me, as below is absolutely correct and true as per my knowledge and belief.If later on, any thing is found misleading /wrong then my application is liable
                                to be rejected by KVS and i shall be opened for any disciplinary action as deemed fit against me for giving misleading information.
                            </p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>



        <div class="mt-2 d-flex align-items-center justify-content-between " >
        <div class="button-back mt-2"><input type="button" name="previous" class="action-save me-2 back-button" (click)="previousPage()"  value="Back" /><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></div>  
        <div class="button-save mt-2">
        <input [disabled]="                            
        ((!miscellaneousForm.get('patientName').valid ||
        !miscellaneousForm.get('patientAilment').valid || 
        !miscellaneousForm.get('patientHospital').valid ||
        !miscellaneousForm.get('patientMedicalOfficerName').valid ||
        !miscellaneousForm.get('patientMedicalOfficerDesignation').valid ||
        !miscellaneousForm.get('medicalCertificateIssueDate').valid ||  !miscellaneousForm.get('relationWithEmplMdg').valid) &&  gkFilemMedical) || ((!miscellaneousForm.get('singleParentGround').valid ||
        !miscellaneousForm.get('singleParentCertificateIssueDate').valid ) &&  spGround) || ((!miscellaneousForm.get('nameOfFamilyMember').valid || !miscellaneousForm.get('deathOfFamilyGround').valid ||
        !miscellaneousForm.get('deathCertificateIssueDate').valid ) &&  dfpGround) ||
        ((!miscellaneousForm.get('careGiverName').valid ||
        !miscellaneousForm.get('careGiverRelation').valid || 
        !miscellaneousForm.get('careGiverDisabilityName').valid || 
        !miscellaneousForm.get('careGiverDisabilityPrcnt').valid) && careGiver) || ((!miscellaneousForm.get('positionOfNjcmRjcm').valid 
       ) && positionHeld) || !miscellaneousForm.get('absenceDaysOne').valid ||
        ((!miscellaneousForm.get('childDifferentName').valid || 
        !miscellaneousForm.get('childDifferentDisabilityName').valid || 
        !miscellaneousForm.get('childDifferentDisabilityPrcnt').valid) && abledChild) || buttonVisible!=true  || (gkFilebenefit ? fileUpgkFilebenefit : false) || (gkFilemMedical ? fileUpgkFilemMedical : false) || (spGround ? fileUpspGround : false) || (dfpGround ? fileUpdfpGround : false) || (careGiver ? fileUpcareGiver : false) || (positionHeld ? fileUppositionHeld : false)" type="submit" id="submit4" value="Save & Next" class="me-2 add-user" /> <i class="fa fa-floppy-o" aria-hidden="true"></i> </div>
 </div>
</form>
</div>
</div>
</div>
</div>