<div class="dashboard-main-content" style="min-height: 600px;">
    <app-transfer-progresion-bar></app-transfer-progresion-bar>
<div class="dashboard-main-content-info  p-4 mt-3">   
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-4">
                    <h2 class="mb-0">Calculation of Displacement Count:</h2>
                </div>
                <div class="col-6">
                    <h2 class="steps text-end pro-name">{{responseData?.teacherId}} |
                        {{responseData?.teacherName | uppercase}} </h2>
                </div>
               
            </div>

          
                <form id="msform" [formGroup]="displacementCountForm" (ngSubmit)="onSubmit()">
                <div class="form-card">
                   
                    <div class="p-3">
                        <div class="row  ">
                            <div class="col-md-9">
                            </div>
                        </div>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="3%"> S.No. </th>
                                    <th colspan="2" class="align-middle text-center"> Question Description
                                    </th>
                                    <th> </th>
                                    <th class="align-middle text-center"> Points </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="align-middle text-center"> <span class="text-green">1.</span>
                                    </td>
                                    <td width="75%" class="align-middle " colspan="3">
                                        <h4 class="titleSet mb-0">

                                            Stay at a station as on 30th June in complete years irrespective
                                            of Cadre Clarification.
                                        </h4>
                                        <ul class="orderList border-bottom">
                                            <li class="w5 me-3">
                                                <h4 class="titleSet ">(a) </h4>
                                            </li>
                                            <li class="w80 ml-2">Period of absence on any account shall also
                                                be counted for this purpose.
                                            </li>

                                        </ul>

                                        <ul class="orderList ">
                                            <li class="w5 me-3">
                                                <h4 class="titleSet ">(b) </h4>
                                            </li>
                                            <li class="w80">If an employee transferred from station "A" to
                                                station "B" returns to the station "A" on request without
                                                completing three years of stay at station "B" then the
                                                period of stay at station "A" will be calculated as total
                                                number of years served at station "A" prior to his posting
                                                at "B" and the number of years served after his return to
                                                station "A" taken together.
                                            </li>
                                        </ul>
                                    </td>
                                    <td width="7%" class=" text-center">
                                        <input type="text" class="form-control form-control-sm "
                                            placeholder="0" style="width:40px; margin:0px auto;"
                                            id="dcStayStationPoint" formControlName="dcStayStationPoint"
                                            name="dcStayStationPoint" disabled>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="align-middle text-center"> <span class="text-green">2.</span>
                                    </td>
                                    <td width="75%" class="align-middle " colspan="3">
                                        <h4 class="titleSet">

                                            Whether the employee below 40 years (as on 30th June of the
                                            year) has
                                            completed one tenure at Hard/NER/Priority station (during entire
                                            service).

                                        </h4>                                  
                                    </td>

                                    <td width="7%" class=" text-center">
                                        <input type="text" class="form-control form-control-sm "
                                            placeholder="0" style="width:40px; margin:0px auto;" id=""
                                            formControlName="dcTenureHardPoint" name="dcTenureHardPoint"
                                            disabled>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="align-middle text-center"> <span class="text-green">3.</span>
                                    </td>
                                    <td width="75%" class="align-middle " colspan="3">
                                        <h4 class="titleSet">
                                            PwD employees
                                        </h4>
                                    </td>

                                    <td width="7%" class=" text-center">
                                        <input type="text" class="form-control form-control-sm "
                                            placeholder="0" style="width:40px; margin:0px auto;"
                                            id="dcPhysicalChallengedPoint"
                                            formControlName="dcPhysicalChallengedPoint"
                                            name="dcPhysicalChallengedPoint" disabled>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="align-middle text-center"> <span class="text-green">4.</span>
                                    </td>
                                    <td width="75%" class="align-middle " colspan="3">
                                        <h4 class="titleSet">
                                            
                                            Medical ground (MDG)/Death of family person (DFP)

                                        </h4>
                                        <ul class="orderList ">
                                            <li class="w5 me-3">
                                                <h4 class="titleSet"> <span class="text-green">A.</span>
                                                </h4>
                                            </li>
                                            <li class="w80 ml-2"> Medical ground(MDG).</li>

                                        </ul>
                                        <ul class="orderList ">
                                            <li class="w5 me-3">
                                                <h4 class="titleSet"> <span class="text-green">B.</span>
                                                </h4>
                                            </li>
                                            <li class="w80 ml-2"> Death of Family person(DFP).</li>

                                        </ul>
                                    </td>

                                    <td width="7%" class=" text-center">
                                        <input type="text" class="form-control form-control-sm "
                                            placeholder="0" style="width:40px; margin:0px auto;"
                                            id="dcMdDfGroungPoint" formControlName="dcMdDfGroungPoint"
                                            name="dcMdDfGroungPoint" disabled>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="align-middle text-center"> <span class="text-green">5.</span>
                                    </td>
                                    <td class="align-middle" width="75%" colspan="3">
                                        <h4 class="titleSet">
                                            Less than three years to retire (LTR).
                                        </h4>
                                    </td>

                                    <td width="7%" class=" text-center">
                                        <input type="text" class="form-control form-control-sm "
                                            placeholder="0" style="width:40px; margin:0px auto;"
                                            id="dcLtrPoint" formControlName="dcLtrPoint" name="dcLtrPoint"
                                            disabled>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="align-middle text-center"> <span class="text-green">6.</span>
                                    </td>
                                    <td class="align-middle" width="75%" colspan="3">
                                        <h4 class="titleSet">
                                            Single Parent.
                                        </h4>
                                    </td>

                                    <td width="7%" class=" text-center">
                                        <input type="text" class="form-control form-control-sm "
                                            placeholder="0" style="width:40px; margin:0px auto;"
                                            id="dcSinglePoint" formControlName="dcSinglePoint"
                                            name="dcSinglePoint" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle text-center"> <span class="text-green"></span>
                                    </td>

                                    <td class="align-middle" width="90%" colspan="3">


                                        <ul class="orderList ">
                                            <li class="w5 me-3">
                                                <h4 class="titleSet"> <span class="text-green">7.</span>
                                                </h4>
                                            </li>

                                            <li class="w80 ml-2"> Spouse if a KVS Employee and posted at the
                                                same station.</li>
                                        </ul>
                                        <ul class="orderList ">
                                            <li class="w5 me-3">
                                                <h4 class="titleSet"> <span class="text-green">8.</span>
                                                </h4>
                                            </li>
                                            <li class="w80 ml-2"> Spouse if a Central Government/Central
                                                Govt. Autonomous
                                                body/Central
                                                Govt. Public Sector Undertaking/ Defence Employee and
                                                Central Armed
                                                Police Forces employee posted at the same station.</li>
                                        </ul>
                                        <ul class="orderList">
                                            <li class="w5 me-3">
                                                <h4 class="titleSet"> <span class="text-green">9.</span>
                                                </h4>
                                            </li>
                                            <li class="w80 ml-2">Spouse if a State Covernment / State Govt.
                                                Autonomous body / State Govt. Public Sectors Undertaking
                                                Employee and posted at the same station. </li>

                                        </ul>
                                        <ul class="orderList ">
                                            <li class="w5 me-3">
                                                <h4 class="titleSet"> <span class="text-green">10.</span>
                                                </h4>
                                            </li>
                                            <li class="w80 ml-2">Woman employee not covered under Sl. No.
                                               6,7,8,9 above. </li>

                                        </ul>
                                    </td>
                                    <td width="7%" class=" text-center">
                                        <input type="text" class="form-control form-control-sm "
                                            placeholder="0" style="width:40px; margin:0px auto;"
                                            id="dcSpousePoint" formControlName="dcSpousePoint"
                                            name="dcSpousePoint" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle text-center"> <span class="text-green">11.</span>
                                    </td>
                                    <td class="align-middle" width="75%" colspan="3">
                                        <h4 class="titleSet">
                                            Members of recognized associations of KVS staff who are also
                                            members of JCM at KVS regional offices and / or KVS
                                            Headquarters.
                                            Note: - Benefit will be given only if they are posted in KVs
                                            located at the station of Regional Office/ ZIET.
                                        </h4>
                                    </td>
                                    <td width="7%" class=" text-center">
                                        <input type="text" class="form-control form-control-sm "
                                            placeholder="0" style="width:40px; margin:0px auto;"
                                            id="dcRjcmNjcmPoint" formControlName="dcRjcmNjcmPoint"
                                            name="dcRjcmNjcmPoint" disabled>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row ">
                            <div class="col-md-10 ">
                                <h2 class="titleSet mb-0">
                                    Total Displacement Count</h2>
                            </div>
                            <div class="col-md-2">
                                <h4 class="titleSet mb-0">
                                    <span class="text-green float-end">
                                        <input id="dcTotalPoint" formControlName="dcTotalPoint"
                                            name="dcTotalPoint" disabled>
                                    </span>
                                </h4>
                            </div>
                        </div>

                    </div>
                </div>
                <input type="button"  name="next"  class="next action-button1 me-3"
                    value="Next" />
                <input type="button" name="previous" class="previous action-button-previous"
                     value="Previous" />

                </form>
</div>
</div>
</div>
</div>