<div class="dashboard-main-content" style="min-height: 600px;">
    <app-progresion-bar></app-progresion-bar>
    <div class="dashboard-main-content-info p-4 mt-4 ">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex bd-highlight">
                    <div class="flex-grow-1 bd-highlight">
                        <h2 class="mb-0 tbl-heading">Preview & Confirm</h2>
                    </div>
                    <div class="pe-3">
                        <h2 class="steps text-end pro-name">{{ profileTeacherName | uppercase}} </h2>
                    </div>
                    <div><button class="btn btn-primary btn-sm">
                        <a href="{{exportProfileUrl}}getTeacherBasicDetailPdf?token={{token}}&username={{loginUserNameForChild}}&teacherId={{tempTeacherId}}"  style="text-decoration: none !important; color:white !important">Export To PDF</a>
                    </button></div>
                </div>

                <table class="table table-bordered w-100">
                    <thead>
                        <tr style="background-color:#7492cb;">
                            <th colspan="6" class="text-center text-white">Profile Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="width: 180px;">KV/RO/ZIET/HQ Name</th>
                            <td>{{schoolDetails?.kvName}} ({{schoolDetails?.kvCode}})</td>
                            <th style="width: 160px;">Employee Code</th>
                            <td>{{verifyTchTeacherProfileData?.teacherEmployeeCode}}</td>
                            <th style="width: 130px;">Staff Type</th>
                            <td>{{verifyTchTeacherProfileData?.teachingNonteaching | staffType}}
                            </td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{verifyTchTeacherProfileData?.teacherName | titlecase}}
                            </td>
                            <th>Gender</th>
                            <td>{{verifyTchTeacherProfileData?.teacherGender | genderPipe}}
                            </td>
                            <th>Date of Birth</th>
                            <td>{{verifyTchTeacherProfileData?.teacherDob }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{verifyTchTeacherProfileData?.teacherEmail}}</td>
                            <th>Mobile Number</th>
                            <td>{{verifyTchTeacherProfileData?.teacherMobile}}</td>
                            <th>Disability</th>
                            <td>{{verifyTchTeacherProfileData?.teacherDisabilityYn == '1' ? 'Yes':'No'}}
                            </td>
                        </tr>
                        <tr>
                            <th>Present Station Name</th>
                            <td>{{schoolDetails?.stationName}} ({{schoolDetails?.stationCode}})</td>
                            <th>Present post name</th>
                            <td>{{verifyTchTeacherProfileData?.lastPromotionPositionType}}
                            </td>
                            <th>Subject Name</th>
                            <td>{{verifyTchTeacherProfileData?.workExperienceAppointedForSubject}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered w-100">
                    <thead>
                        <tr style="background-color:#7492cb;">
                            <th colspan="7" class="text-center text-white">Experience</th>
                        </tr>
                        <tr style="background-color:#E5EEFF;">
                            <th>School Name</th>
                            <th width="8%">From</th>
                            <th width="8%">To</th>
                            <th width="16%">Position Held</th>
                            <th width="13%">Appointed for Subject</th>
                            <th width="15%">Transfer Ground</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of verifyTchTeacherWorkExp">
                            <td>{{data?.udiseSchoolName}}</td>
                            <td>{{data?.workStartDate}}</td>
                            <td>{{data?.workEndDate}}</td>
                            <td>{{data?.positionType}}</td>
                            <td>{{data?.appointedForSubject}}</td>
                            <td>{{data?.groundForTransfer == 'null' ? '':data?.groundForTransfer}}</td>
                        </tr>
                    </tbody>
                </table>

                <form [formGroup]="teacherPreviewConfirmForm" (ngSubmit)="submit()">
                    <h2  class="mb-0 tbl-heading">Title Goes Here</h2>
                    <div class="mt-1">
                        <table class="table priview-table table-bordered w-100" >
                            <tr>
                                <th>Employee Name: </th>
                                <td>
                                   &nbsp;{{verifyTchTeacherProfileData?.teacherName | titlecase}} <input class="form-check-input" type="checkbox" value=""   formControlName="teacherName" id="teacherName" id="teacherName">
                                </td>
                                <th>Employee Gender:</th>
                                <td>
                                    &nbsp;{{ verifyTchTeacherProfileData?.teacherGender | genderPipe }} <input class="form-check-input" type="checkbox" value=""  formControlName="teacherGender" id="teacherGender">
                                </td>
                                <th>Employee DOB:</th>
                                <td>
                                 &nbsp;{{verifyTchTeacherProfileData?.teacherDob }} <input class="form-check-input" type="checkbox" value=""  formControlName="teacherDob" id="teacherDob">
                                </td>
                            </tr>
                            <tr>
                                <th>Employee Employee Code:</th>
                                <td>
                                     &nbsp; {{verifyTchTeacherProfileData?.teacherEmployeeCode}} <input class="form-check-input" type="checkbox"  value="" formControlName="teacherEmplCode" id="teacherEmplCode">
                                </td>
                                <th>Employee Disability:</th>
                                <td>
                                 &nbsp;{{verifyTchTeacherProfileData?.teacherDisabilityYn == '1' ? 'Yes':'No'}} <input class="form-check-input" type="checkbox"  value="" formControlName="teacherDisability" id="teacherDisability">
                                </td>
                                <th>Experience Start Date Present KV:</th>
                                <td>
                                    &nbsp; {{verifyTchTeacherProfileData?.workExperienceWorkStartDatePresentKv}} <input class="form-check-input"  type="checkbox" value="" formControlName="ExperienceStartDatePresentKv"
                                        id="ExperienceStartDatePresentKv">
                                </td>
                            </tr>
                            <tr>
                                <th>Appointed For Subject:</th>
                                <td>
                                     &nbsp; {{verifyTchTeacherProfileData?.workExperienceAppointedForSubject}} <input class="form-check-input" type="checkbox"  value="" formControlName="workExperienceAppointedForSubject"
                                        id="workExperienceAppointedForSubject">
                                </td>
                                <th>Position Held:</th>
                                <td>
                                     &nbsp;{{verifyTchTeacherProfileData?.lastPromotionPositionType}} <input class="form-check-input" type="checkbox" value=""  formControlName="lastPromotionPositionType" id="lastPromotionPositionType">
                                </td>
                              
                            </tr>
                        </table>

                    </div>
                  
                    <div class="mt-2 d-flex align-items-center justify-content-between ">
                        <div class="button-back mt-2 position-relative"><input type="button" name="previous" class="action-save me-2 back-button" (click)="previousPage()" value="Back" /><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></div>
                    
                    </div>
                </form>

            </div>
            <!--close main-content-info-->
        </div>
        <!--close dashboard-main-content-->
    </div>
</div>
