@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/*====Reset css=========*/

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

@font-face {
    font-family: 'PoppinsLight';
    src: url('src/assets/fonts/PoppinsLight.eot');
    src: url('src/assets/fonts/PoppinsLight.eot') format('embedded-opentype'),
     url('src/assets/fonts/PoppinsLight.woff2') format('woff2'),
      url('src/assets/fonts/PoppinsLight.woff') format('woff'), 
      url('src/assets/fonts/PoppinsLight.ttf') format('truetype'),
       url('src/assets/fonts/PoppinsLight.svg#PoppinsLight') format('svg');
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('src/assets/fonts/PoppinsRegular.eot');
    src: url('src/assets/fonts/PoppinsRegular.eot') format('embedded-opentype'),
     url('src/assets/fonts/PoppinsRegular.woff2') format('woff2'),
      url('src/assets/fonts/PoppinsRegular.woff') format('woff'),
       url('src/assets/fonts/PoppinsRegular.ttf') format('truetype'), 
       url('src/assets/fonts/PoppinsRegular.svg#PoppinsRegular') format('svg');
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url('src/assets/fonts/PoppinsMedium.eot');
    src: url('src/assets/fonts/PoppinsMedium.eot') format('embedded-opentype'),
     url('src/assets/fonts/PoppinsMedium.woff2') format('woff2'), 
     url('src/assets/fonts/PoppinsMedium.woff') format('woff'),
      url('src/assets/fonts/PoppinsMedium.ttf') format('truetype'),
       url('src/assets/fonts/PoppinsMedium.svg#PoppinsMedium') format('svg');
}

@font-face {
    font-family: 'PoppinsSemiBold';
    src: url('src/assets/fonts/PoppinsSemiBold.eot');
    src: url('src/assets/fonts/PoppinsSemiBold.eot') format('embedded-opentype'),
     url('src/assets/fonts/PoppinsSemiBold.woff2') format('woff2'),
      url('src/assets/fonts/PoppinsSemiBold.woff') format('woff'),
       url('src/assets/fonts/PoppinsSemiBold.ttf') format('truetype'),
        url('src/assets/fonts/PoppinsSemiBold.svg#PoppinsSemiBold') format('svg');
}

@font-face {
    font-family: 'PoppinsBold';
    src: url('src/assets/fonts/PoppinsBold.eot');
    src: url('src/assets/fonts/PoppinsBold.eot') format('embedded-opentype'),
     url('src/assets/fonts/PoppinsBold.woff2') format('woff2'), 
     url('src/assets/fonts/PoppinsBold.woff') format('woff'),
      url('src/assets/fonts/PoppinsBold.ttf') format('truetype'), 
      url('src/assets/fonts/PoppinsBold.svg#PoppinsBold') format('svg');
}

.dashboard-footer {
    padding: 0 30px 20px 30px;
    /* background: #d7d7d7; */
}

/* .dashboard {
    min-height: calc(100vh - 77px) !important;
} */

.sidebar {
    background-color: #632765;
    border-radius: 0px 0px 10px 0px;
    width: 320px;
    z-index: 100;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 90px) !important;
    transition: all .5s ease !important;
}

.green {
    background: green;
    color: #fff;
}

.red {background: #cf3737;
    color: #fff;}
.voilet {background: #632765;
        color: #fff;}
        .edite_buttun{
            font-size: 1.5rem; color: #7e4880; margin-left: 10px;
        }
/*====Reset css=========*/

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.login-wrap {
    position: relative;
    font-family: 'PoppinsRegular';
    font-size: 15px;
    line-height: 1.6;
}

.login-wrap .login-bg {
    background-color: #632765;
    height: 100vh;
    padding-left: 40px !important;
    position: relative;
}

.login-bg h1,
.login-bg h2 {
    color: #fff;
    text-transform: uppercase;
}

.login-bg h2 {
    font-family: 'PoppinsLight';
    color: #fff;
    font-size: 26px;
    margin: 0;
}

.login-bg h1 {
    font-family: 'PoppinsBold';
    font-size: 50px;
    line-height: 55px;
}

.login-bg h3 {
    color: #fff;
    font-family: 'PoppinsLight';
    font-size: 26px;
}

.login-content {
    padding-top: 180px !important;
}

.login-img {
  left: 113px;
  bottom: 0;
  width: 500px;
  position: absolute;
}

.login-img-forgot {
    position: absolute;
    right: 25%;
    bottom: 0;
    height: 450px;
}

.logo-left {
    height: 80px;
}

.logo-right {
    height: 100px;
    margin-right: 40px;
}

.login-form {
    height: calc(100vh - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form .form-control {
    border: none;
    border-bottom: solid 1px #717171;
    border-radius: 0;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 18px;
}

.login-form .form-control:focus {
    outline: none;
    box-shadow: none;
}

.login-cnt .mb-4 {
    margin-bottom: 30px !important;
}

.login-cnt {
    max-width: 500px;
    width: 100%;
}

.login-cnt .sec-title {
    position: relative;
    line-height: 60px;
    text-align: center;
    margin-bottom: 50px !important;
    font-size: 2rem;
    color: #37338a;
    font-family: 'PoppinsBold';
}

.login-cnt .sec-title:after {
    width: 70px;
    background-color: #9c219e;
    height: 4px;
    margin: auto;
    content: "";
    display: block;
}

.login-cnt i {
    position: absolute;
    left: 0;
    top: 8px;
    font-size: 24px;
}

.login-cnt .btn {
  padding: 10px 12px;
  background: #37338a;
  border-color: #37338a;
  font-size: 16px;
  width: 50%;
}

.login-cnt a {
    color: #37338a;
    font-family: 'PoppinsSemiBold';
}

.w-70 {
    width: 70%;
}

.login-wrap .button-group .btn {
    color: #fff;
    background: #dbdbdb;
    border-color: #dbdbdb;
    font-family: 'PoppinsSemiBold';
    padding: 8px 12px;
}

.login-wrap .button-group .btn img {
    margin-top: -2px;
    height: 22px;
}

.login-wrap .button-group .btn.active {
    background: #37338a;
    border-color: #37338a;
}

/*****************************/

.searchInput .mat-form-field-infix{width: 300px !important;}

 th.mat-header-cell{background-color:#E5EEFF ; color: #353535 !important; font-weight: 600 !important; font-size: 15px; font-family: 'PoppinsRegular';}
 
 .example-container {padding: 0;}

@media (max-width:1600px) {
    .login-bg h2 {
        font-size: 22px;
    }
    .login-bg h1 {
        font-size: 40px;
    }
    .login-bg h3 {
        font-size: 22px;
    }
    .login-content {
        padding-top: 100px !important;
    }
    .login-img {
        height: 280px;
    }
    .login-cnt {
        max-width: 500px;
        width: 100%;
    }
    .login-cnt i {
        position: absolute;
        left: 0;
        top: 10px;
        font-size: 18px;
    }
    .login-form .form-control {
        padding-bottom: 10px;
        padding-left: 20px;
        font-size: 1rem;
    }
    .login-cnt .btn {
        padding: 6px 12px;
    }
}

@media (max-width:1366px) {
    .login-img {
        height: 200px;
    }
}

@media (max-width:1199px) {
    .logo-left {
        height: 70px;
    }
    .logo-right {
        height: 90px;
    }
    .login-cnt {
        max-width: 400px;
        width: 100%;
    }
}

@media (max-width:991px) {
    .login-cnt {
        max-width: 80%;
        width: 100%;
    }
    .pencil-bg {
        height: 70px;
    }
}

@media (max-width:767px) {
    .login-wrap .login-bg {
        padding-left: 20px !important;
    }
    .logo-right {
        height: 70px;
        margin-right: 20px;
    }
    .logo-left {
        height: 55px;
        margin-left: -20px !important;
    }
    .login-head {
        text-align: center;
    }
}

@media (max-width:575px) {
    .login-content {
        padding-top: 40px !important;
    }
    .login-wrap .login-bg {
        height: auto;
        padding-left: 20px !important;
    }
    .login-img {
        display: none;
    }
    .logo-left {
        height: 60px;
        margin-left: 0px !important;
    }
    .login-head {
        text-align: left;
    }
    .login-bg h3 {
        font-size: 18px;
    }
    .login-bg h1 {
        font-size: 24px;
    }
    .login-wrap .button-group .btn {
        font-size: 13px;
        padding: 6px 10px;
    }
    .login-wrap .button-group .btn img {
        height: 20px;
    }
}

@media (max-width:360px) {
    .logo-left {
        height: 55px;
    }
}

body {
    font-family: 'PoppinsRegular';
    color: #000;
    font-size: 15px;
    line-height: 1.6;
    overflow-x: hidden;
    background: #f5f5f5;
    background-image:url(/assets/assets/img/dotted-bg.png);
    background-repeat:no-repeat;
    background-position:0 360px;
    }
    a {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    text-decoration: none;
    }
    a:hover {
    text-decoration: none;
    }
    h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    position: relative;
    }
    ul {
    padding: 0;
    margin: 0;
    ;
    }
    .form-control, input, .form-control:focus, select {
    outline: none;
    box-shadow: none;
    }
    textarea {
    resize: none;
    }
    strong {
    font-family: 'PoppinsBold';
    }
    button, button:focus, button:hover {
    outline: none;
    box-shadow: none;
    }
    
    .example_filter {
      display: none !important;
    }
    
    .dashboard {
      background-color: #f5f5f5;
      display: flex;
      position: relative;
    }
    
    .dashboard-header--heading {
      color: #7f8fa4 !important;
    }
    
    .dashboard--remaining--width {
      width: 100%;
      transition: all .5s ease !important;
    
    }
    
    .dashboard-icon {
      position: absolute;
      top: 146px;
      right: -18px;
      bottom: 0;
      z-index: 100;
    }
    
    
    
    svg>#Layer_2 #Layer_1>#Path_82280 {
      filter: opacity(0.5) !important;
    }
    
    .dashboard-chevron-left {
      padding: 7px 9px;
      border-radius: 100%;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
      cursor: pointer;
      color: #1f5bae;
    }
    
    .dashboard-chevron-right {
      position: fixed;
      top: 140px;
      left: -3px;
      padding: 4px 9px;
      border-radius: 100%;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
      cursor: pointer;
      color: #1f5bae;
    }
    
    .bi::before,
    [class^="bi-"]::before,
    [class*=" bi-"]::before {
      font-weight: bold !important;
    }
    
    .accordion-body {color: #C3D8FF;}
    .accordion-item {margin-bottom: 2px;}
    .accordion-item:first-child{border-top:none; }
    .accordion-item:last-child{border-bottom:none; }
    .sidebar .accordion-button{color: #fff; border-bottom-color: initial; box-shadow: none; padding: 1rem 0.6rem; }
    .sidebar .accordion, .sidebar .accordion-button, .sidebar .accordion-item {background-color:initial; background:none; border-left: none;
      border-right: none; border-radius: 0;}
    
    .accordion-body li { font-family: 'PoppinsMedium'; margin:0 0 3px; list-style: none; position: relative;}
    
    .accordion-body li a {color: #fff; padding:7px 10px 7px 25px; display: block; }
    .accordion-body li a i {font-size: 30px; position: absolute; left: 0px; top: -5px;}
    .accordion-body li a:hover, .accordion-body li.active a{background-color: #804E82; border-radius: 4px;} 
    .dashboard--img {
      padding-right: 18px;
      vertical-align: middle;
    }
    
    .dashboard-link:hover {
      border-left: 2px solid #fff;
      background-color: #1448ae;
      width: 100%;
    }
    
    .dashboard-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 30px 10px 30px;
     
      box-shadow: 0 3px 6px #272d3b1c;
      background-color: white;
    }
    
    
    .header-top {
      background-color: #632765;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      padding:10px 30px 10px 30px;
      font-size: 14px;
      font-weight: 300;
    }
    
    /* .header-top .left-list img {
      position: absolute;
      left: 0;
    }
     */
    .header-top .left-list li {
      border-left: solid 1px #c8c8c8;
      padding-left: 8px;
      position: relative;
    }
    
    .header-top .left-list li a {
      color: #fff;
      font-size: 13px;
      line-height: 13px;
    }
    .header-top .left-list li a span{display: block;}
    .header-top .left-list li:first-child {border: none!important;}
    
    .header-top ul li {
      color: #444;
      font-weight: 500;
      margin-left: 10px;
      line-height: normal;
    }
    
    .header-top ul li:first-child {
      margin-left: 0;
    }
    
    .header-top ul li .material-icons {
      font-size: 16px;
      vertical-align: top;
      margin-right: 4px;
      ;
      top: -1px;
      margin-top: 0
    }
    
    .header-top ul li a {
      color: rgba(0, 0, 0, 0.65);
      text-decoration: none;
      cursor: pointer;
    }
    
    .header-top ul li i {
      margin-right: 5px;
    }
    
    .header-top i.bi-volume-down {font-size: 18px; position: relative; top: 2px; margin-right: 0;}
    
    .dashboard-header--info {
      display: flex;
      align-items: center;
    }
    
    .dashboard-header--notification {
      padding: 9px 14px;
      background-color: #f7f8fa;
      border-radius: 100%;
      margin-right: 30px;
      cursor: pointer;
    } 
    
    .dashboard-header--notification i {font-size: 24px;}
    
    .dashboard-header--details {
      margin-right: 20px;
      border-right: solid 2px #ccc;
      padding-right: 20px;
    
    }
    
    .dashboard-header--details p {
      margin: 0;
    }
    
    .dashboard-header--info a {color: #999;}
    .dashboard-header--hello {
      color: #323232;
      font-size: 15px;
      font-weight: 500;
     line-height: 18px;
    }
    
    .dashboard-header--name {
      color: #000;
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
    }
    .dashboard-top--header__dropdown{font-size: 14px;}
    .dashboard-header--icon {
      color: #7f8fa4;
      font-weight: 500;
      font-size: 13px;
    }
    
    .dashboard-header--logo a {color: #323232;}
    
    .dashboard-main-content {
      padding:10px 30px;
    }
    
    .dashboard-main-content__header h1 {
      font-size: 22px;
      margin: 0;
      color: #061045;
      font-family: 'PoppinsSemiBold';
    }
    .breadcrumb-item{font-size: 13px;}
    .breadcrumb-item a {
      font-size: 13px !important;
      font-weight: 500 !important;
      color: #888888 !important;
      text-decoration: none !important;
    }
    
    .dashboard-main-content-info {
      background-color: white;
      padding:20px;
      border-radius: 10px;
      box-shadow: 0 3px 6px #272d3b1c;
    }
    
    .dashboard-footer {  /*background-color:#D0D0D0;*/ padding:20px 30px 20px 30px;} 
    .font-size-16{font-size: 16px !important;}
    .dashboard-footer p { margin-bottom: 0 !important; font-size: 13px; color: #061045;}
    
    .content-wrap { max-width:1440px; margin:20px auto;}
    h2.abtheading { font-size:40px; line-height:46px; color:#000; margin-top:50px;}
    h2.abtheading span { font-size:44px; font-weight:700; color:#632765;}
    h2.abtheading::after { content: ""; display:block; width:34px; background-color:#F3634F; height:2px; margin-top:8px;}
    p.abt-txt { font-size:18px; line-height:34px; color:#515151;}
    .ntcboard { margin-top:70px;}
    h3.boxheading { font-size:20px; font-weight:600; line-height:22px; color:#000; margin-bottom:15px;}
    h3.boxheading::after { content: ""; display:block; width:34px; background-color:#F3634F; height:2px; margin-top:8px;}
    
    .ntcboard ul {
        list-style-type:none;
        margin:0;
        padding:0;
    }
    .ntcboard ul li {
        font-size:14px;
        line-height:18px;
    }
    .ntcboard ul li img {
        margin-right:8px;
        float:left;
    }
    .ntcboard ul li span.date {
        font-weight:600;
        float:left;
    }
    .ntcboard ul li span.pres-cont {
        font-weight:400;
        margin-top:5px;
        display:block;
    }
    .ntcboard ul li a {
        color:#1c1c1c;
        text-decoration:none;
        display:block;
        padding:10px 10px 10px 10px;
        border-bottom:1px solid #d4d4d4;
        -webkit-transition: background-color 1s ease-out;
      -moz-transition: background-color 1s ease-out;
      -o-transition: background-color 1s ease-out;
      transition: background-color 1s ease-out;
    }
    .ntcboard ul li a:hover {
        background-color:#ffefec;
    }
    .ntcboard ul li a.last{
        border-bottom:none;
    }
    
    .onboard { margin-top:20px; max-width:505px;}
    
    .number-box { 
        background-color:#632765 !important; 
        color:#fff; font-weight:500 !important;
         border-radius:20px; text-align:center !important; 
         width:80px; padding:5px 0 !important;
        }
    .regions { background-color:#37338A !important; }
    .stations { background-color:#316CAF !important;}
    .ziets { background-color:#F3634F !important;}
    .box-lebel { font-size:18px; font-weight:600; margin:0;     text-align: left;}
    .onboard table td { padding:4px;}
    
    .bgpatern { position: absolute; width: 66px; height: 53px; right: -22px; bottom: -20px; z-index: -10;}
    .bgpatern1 { position: absolute; width: 66px; height: 53px; right: -22px; top: -20px; z-index: -10;}
    
    .btn-grad {
        background-image: linear-gradient(to right, #534EBC 0%, #8C288F  51%, #480D4A  100%);
        margin: 10px;
        padding: 10px 25px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white!important;
        box-shadow: 0 0 20px #eee;
        display: block;
    }
    
    .btn-grad:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }
             
    
    
    @media screen and (max-width: 767px) {
      .dashboard-main-content-info {
        padding: 20px !important;
      }
    
      .dashboard-header {
        display: block;
      }
    
    
      .dashboard-header--image img {
        width: 100%;
      }
    
      .dashboard-header--details {
        text-align: center;
      }
    
      .dashboard-header--info {
        justify-content: center;
      }
    
      
      .dashboard-header--hello {
        font-size: 12px;
      }
    
      .dashboard-header--name {
        font-size: 12px;
      }
    
      .dashboard-header--icon {
        font-size: 11px;
      }
    
      .dashboard-header--image {
        margin-bottom: 15px;
      }
    
      .dashboard--remaining--width {
        min-width: 100%;
        margin-left: 0px !important;
      }
    
      .dashboard-footer{display: block !important;}
    
    }
    
    @media screen and (min-width: 768px) and (max-width: 899px) {
      .dashboard-main-content-info {
        padding: 20px;
      }
    
      .dashboard-header--logo img {
        width: 80%;
        object-fit: contain;
      }
    
    
      .sidebar-logo {
        padding: 25px 0;
      }
    
      .form-check-input {
        width: 55px !important;
        height: 20px !important;
      }
    
    
      .dashboard-main-content__header h1 {
        font-size: 24px;
      }
    
      .dashboard-main-content {
        padding: 30px;
      }
    
      
    
      .dashboard--remaining--width {
        margin-left: 0px !important;
        min-width: 100%;
      }
    }
    
    @media screen and (min-width: 900px) and (max-width: 1199px) {
    
      .dashboard-main-content__header h1 {
        font-size: 24px;
      }
    
      .dashboard-main-content {
        padding: 30px;
      }
    
    
      .dashboard--remaining--width {
        margin-left: 0px !important;
        min-width: 100%;
      }
    }
    
    @media screen and (min-width: 1200px) and (max-width: 1400px) {
    
      .dashboard--remaining--width{
        min-width: 100%;
        margin-left: 0px !important;
      }
    }
    
    @media screen and (max-width: 575px) {
      .profile-info .col-sm-9{padding: 0;}
      .dashboard-main-content {padding: 20px;}
    }
    