.main-wrapper {
    background: url(/assets/images/login/login-bg-wave.svg) left bottom no-repeat;
    min-height: 100vh;
    background-color:#10638412;
    width: 100%;
    float: left;
}

.inner-wrapper {
    /*max-width: 85%;
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    min-height: calc(100vh - 150px);
}

.left-content {
    width: 85%;
}

.invalid-feedback {
    color: red;
}
#captchaBackground {
    height: 52px;
    width: 104px;
    background-color: #e8e8e9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#captchaforget {
    height: 100%;
    width: 100%;
    font-size: 30px;
    letter-spacing: 3px;
    margin: auto;
    display: block;
}

.left-content h1 {
    font-size: 36px;
    font-weight: 800;
    line-height: 44px;
    text-align: left;
    color: #13245D;
    text-transform: uppercase;
    margin: 0;
}

.left-content h3 {
    color: #13245D;
    font-size: 16px;
}

.left-content h6 {
    color: #13245D;
    font-size: 30px;
    font-weight: 100 !important;
}

.left-content p {
    font-size: 16px;
    color: #13245D;
    line-height: 1.7;
    font-weight: 400;
}

.right-form {}

.right-form .card.login-form {
    padding: 30px 20px 20px 30px;
    border-radius: 24px;
}

.right-form .card.login-form h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 116%;
    color: #13245D;
    text-transform: uppercase;
}

.right-form .card.login-form p {
    font-size: 14px;
}
.captcha-img {
    background-image: url(/assets/images/captcha.jpg);
    text-decoration: line-through;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    border: none;
    padding: 6px;
    outline: none;
    color: #1d1d1d;
    width: 100px;
  }
  .timer{
    text-align: center;
    background-color: #e1e1e1b8;
    padding: 6px;
    margin-left: 15px;
  }
.sec-title-one{
    color: #6B6B6B;
    text-align: center;
    font-family: 'Poppinslight';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
}
 


  .captcha{
    cursor: pointer;
  }
.right-form .card.login-form input {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    padding-left: 0px;
    font-size: 15px !important;
    font-weight: 500;
    color: #151515;
    padding: 15px 0;
}

.right-form .card.login-form .captcha {}

.right-form .card.login-form .captcha input {}

.right-form .card.login-form .captcha span {}

.right-form .card.login-form .login-btn {
    background: #722123;
    border-radius: 8px;
    border: 0;
    padding: 10px 15px;
}


/**************18th May 23************************/

.right-form .card {
    display: block;
}

.right-form .card.login-form .login-btn {
    width: 150px;
    margin: 25px 0 0 0 !important;
    background: #13245D;
    color: #fff;
}

.right-form .card.login-form {
    text-align: center;
}

.login-logo {
    width: 120px;
    margin: auto;
    ;
    margin-bottom: 30px;
}

.nic-logo {
    float: right;
}

input:focus {
    outline: none;
    box-shadow: none !important;
}

p u {
    color: #13245D;
}

.gov-logo {
    float: left;
}

.right-form input[type=text] {
    background: url(/assets/images/login/userid.svg) left center no-repeat;
    padding-left: 35px !important
}

.right-form input[type=password] {
    background: url(/assets/images/login/paswd.svg) left center no-repeat;
    padding-left: 35px !important
}

@media (max-width:767px) {
    .left-content {
        width: 100%;
        display: none;
    }
    .left-content h1 {
        font-size: 24px;
        line-height: normal;
    }
    .gov-logo {
        margin: 0 0 20px;
    }
  
}

.fa-color { color: #7a8289;}